.card-small-info {
    display: flex;
    &__image {
        width: 48px;
        height: 48px;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 12px;

        img {
            border-radius: 12px;
            width: 48px;
            height: 48px;
            object-fit: contain;
            background-color: transparent;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: #181a1d0a;
            border-radius: 12px;
        }
    }

    &__info {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }

    &__title {
    }

    &__descr {
        font-size: var(--small-fz);
        color: var(--primaryTwo);
    }

    &__result {
        margin-left: 60px;
        display: flex;
     align-items: center;
     align-self: flex-start;
     font-weight: 500;
        img{
            margin-left: 8px;
        }
    }
}
