.card-small {
    box-sizing: border-box;

    &__container {
        width: 100%;
        height: 100%;
    }

    &__image {
        padding-bottom: percent(210, 310);
        border-radius: 12px;
        overflow: hidden;

        img {
            border-radius: 12px;
            will-change: transform;
            transition: transform $transitionSpeed $transitionFunction;
        }
    }

    &__info {
        margin-top: 16px;
        display: block;
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        font-weight: 400;
        color: var(--dark);
    }

    &__title {
        margin-top: 5px;
        color: var(--dark);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 500;
        transition: color $transitionSpeed $transitionFunction;
    }

    &:hover {
        .card-small__image {
            img {
                transform: scale(1.02);
            }
        }

        .card-small__title {
            color: var(--blue);
        }
    }
}
