
.card-dynamic {
    text-align: left;
    color: var(--dark);
    background-color: var(--white);
    position: relative;
    border: 1px solid var(--primary200);
    border-radius: 12px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    &__info {
    }

    &__title {
        margin-bottom: 20px;
    }

    &__descr {
        color: var(--primaryTwo);
    }

    &__value {
        font-weight: 500;
        margin-top: 8px;
    }

    &__circle {
    }
    &._active{
        border-color: var(--blue);
    }
}