.card-primary {
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: var(--shadow-primary);
    border-radius: 12px;

    &__container {
        position: relative;
        background-color: var(--white);
        height: 100%;

        display: flex;
        flex-direction: column;
        user-select: none;
        border-radius: 12px;
    }

    &__link {
        cursor: pointer;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &__top {
        position: relative;
        display: block;
        padding-bottom: percent(207, 323);
        border-radius: 12px;
        overflow: hidden;
        @media (max-width:$desktop) {
            width: 100%;
            min-height: 250px;
            padding-bottom: 0;
        }
    }
    &__metro {
        margin-top: 4px;
        >.metro-info__item{
            &:not(:first-child){
                display: none;
            }
        }
        .metro-info__other {
            z-index: 99;
        }

        @media (max-width:$desktop) {
            grid-column: 1/-1;
        }
    }
    &__buying {
        color: var(--blue);
        background-color: rgba(0, 150, 255, 0.08);
        padding: 8px 16px;
        border-radius: 12px;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 500;
        border: 1px solid transparent;

        width: 100%;

        position: relative;
        z-index: 19;

        &:nth-child(1) {
            margin-bottom: 16px;
        }

        &:nth-child(2) {
            margin-top: -8px;
            margin-bottom: 16px;
        }

        &:nth-child(3) {
            margin-top: -8px;
            margin-bottom: 16px;
        }

        >div {
            position: absolute;
            top: -4px;
            right: -4px;
            --size: 20px;
            width: var(--size);
            height: var(--size);
            flex: 0 0 var(--size);
            border-radius: 50%;
            background-color: var(--white);

            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: var(--shadow-primary);

            opacity: 0;
            visibility: hidden;
            transform: translateY(2px);


            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction,
                transform $transitionSpeed $transitionFunction;

            svg {
                width: 10px;
                height: 10px;
                stroke: var(--blue);
                stroke-width: 1.5px;
                fill: none;
            }
        }

        &._suggest-active {
            background-color: var(--blue);
            color: var(--white);

            div {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
        &._blue{
            background-color: var(--blue);
            color: var(--white);
            @media (min-width:$desktop-min){
                 &:hover{
                    background-color: var(--blue-dark);
                    color: var(--white);
                    svg{
                        fill: var(--white) !important;
                    }
                 } 
            }
        }

        @media (max-width:$desktop) {
            grid-column: 1/-1;
            padding: 12px 16px;
            font-size: var(--default-fz);
            line-height: var(--default-lh);
        }
        @media (min-width:$desktop-min) {
            &.focus-visible{
                border: 1px solid var(--blue);
                background-color:var(--white);
            }
            &:hover {
                border: 1px solid var(--blue);
                background-color:var(--white);
                svg{
                    fill: var(--blue) !important;
                }
            }
            &:active {
                border: 1px solid var(--blue);
                background-color:var(--white);
            }
        }
    }

    &__notif {
        font-size: 12px;
        background-color: var(--blue);
        color: var(--white);
        padding: 8px 38px 8px 12px;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    }


    &__images {
        display: flex;

        @media (min-width:$desktop-min) {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
        }

        @media (max-width:$desktop) {
            min-height: 275px;
            min-width: 100%;
            &.swiper-wrapper {
                align-items: stretch;
            }
        }
    }

    &__item {

        @media (min-width:$desktop-min) {
            flex-grow: 1;
            cursor: pointer;

            &:first-child {
                .card-primary__image {
                    opacity: 1;
                    z-index: -1;
                }
            }

            &:hover {
                .card-primary__image {
                    opacity: 1;
                    z-index: -1;
                }
            }

            &.card-primary__item--limit {

                .card-image-more {
                    color: var(--white);

                    border-radius: 12px;

                    font-size: var(--default-fz);
                    line-height: var(--default-lh);
                    font-weight: 400;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: rgba(0, 0, 0, 0.5);

                    position: absolute;
                    z-index: 3;
                    inset: 0;
                }
            }
        }
    }

    &__image {
        border-radius: 12px;
        overflow: hidden;

        position: absolute;
        left: 50%;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        pointer-events: none;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;

        img {
            border-radius: 12px;
            transition: transform $transitionSpeed $transitionFunction;

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &._fixed-width {
            width: 90%;
            height: 90%;
            top: 5%;

            img {
                object-fit: contain;
            }
        }

        @media (max-width:$desktop) {
            position: static;
            opacity: 1;
            transform: translate(0);
        }
    }

    &__pagination {
        position: absolute;
        z-index: 3;
        right: 24px;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;

        @media (max-width:$desktop) {
            display: none;
        }
    }

    .image-pagination__item {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--white);

        &:not(:last-child) {
            margin-right: 6px;
        }

        &--quantity {
            width: auto;
            height: auto;
            color: var(--white);
            border-radius: 0;
            background-color: transparent;

            font-size: var(--small-fz);
            line-height: 1;
        }
    }

    .image-pagination__item--active {
        background-color: var(--dark);
    }

    &__info {
        position: absolute;
        z-index: 22;
        top: 15px;
        padding: 0 15px;
        width: 100%;
        display: flex;
        align-items: center;
        pointer-events: none;
        box-sizing: border-box;

        &--new {
            pointer-events: all;
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            color: var(--white);
            font-weight: 500;
            background-color: #ebf7ff;
            color: var(--blue);
            padding: 0 16px;
            height: 38px;
            backdrop-filter: blur(2px);
            border-radius: 12px;

            position: absolute;
            top: 0;
            left: 15px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--dislike {
            pointer-events: all;
            width: 40px;
            height: 38px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #ebf7ff;
            backdrop-filter: blur(2px);
            border-radius: 8px;

            svg {
                width: 18px;
                height: 18px;
                fill: var(--blue);
                stroke: none;
            }

            .secondary-tooltip__content {
                bottom: auto;
                top: calc(40px + 4px);
                left: 0;
                width: max-content;
                max-width: 265px;
            }
        }

        &--comment {
            pointer-events: all;
            width: 40px;
            height: 38px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #ebf7ff;
            backdrop-filter: blur(2px);
            border-radius: 8px;

            svg {
                width: 18px;
                height: 18px;
                fill: var(--blue);
                stroke: none;
            }

            .secondary-tooltip__content {
                bottom: auto;
                top: 0;
                left: calc(40px + 4px);
                width: max-content;
                max-width: 288px;


                .checkbox-secondary {
                    &__label {
                        justify-content: start;

                        &::before {
                            width: 12px;
                            height: 12px;
                            flex: 0 0 12px;
                            background-color: var(--white) !important;
                            border: 1px solid var(--white) !important;
                            border-radius: 3px;
                        }

                        &::after {
                            width: 12px;
                            height: 12px;
                            background-size: 8px 6px;
                            background-image: url('../img/check-mark--blue.svg');
                        }
                    }

                    &__text {
                        font-size: var(--small-fz);

                    }

                    margin-bottom: 4px;

                    &:last-child {
                        margin-bottom: 16px;
                    }
                }

                >span {
                    margin-bottom: 8px;
                    font-weight: 500;
                    display: block;
                }

                >div {
                    >div {
                        &:not(:last-child) {
                            margin-bottom: 8px;
                        }

                        span {
                            display: block;
                        }
                    }
                }

                >p {
                    margin-top: 8px;
                    display: -webkit-box;
                    -webkit-line-clamp: 15;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }

        &--row {
            flex-direction: column;
        }

        &--dislike-btn,
        &--like-btn {
            pointer-events: all;
            align-self: start;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #ebf7ff;
            backdrop-filter: blur(2px);

            border-radius: 8px;

            button {
                width: 40px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: #ebf7ff;
                z-index: 6;
                border-radius: 10px;
                transition: border-radius $transitionSpeed $transitionFunction;

                svg {
                    width: 18px;
                    height: 18px;
                    fill: var(--blue);
                }
            }

            span {
                margin-left: 2px;
                cursor: pointer;
                color: var(--blue);
                font-size: var(--small-fz);
                line-height: var(--small-lh);
                font-weight: 500;
                padding-right: 5px;
                z-index: 5;
                background-color: #ebf7ff;

                width: 117px;
                border-radius: 0 8px 8px 0;
                position: absolute;
                left: 38px;
                transform: translateX(-100%);
                height: 100%;
                transition: transform $transitionSpeed $transitionFunction,
                    visibility $transitionSpeed $transitionFunction,
                    opacity $transitionSpeed $transitionFunction;

                visibility: hidden;
                opacity: 0;
                display: flex;
                align-items: center;
            }

            @media (min-width:$desktop) {
                &:hover {
                    button {
                        border-radius: 8px 0 0 8px;
                    }

                    span {
                        transform: translateX(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        &--like-btn {
            margin-top: 10px;
        }

        &--dislike-btn {
            span {
                width: 135px;
            }
        }

        &--btns-right {
            position: absolute;
            top: 0;
            right: 15px;
            pointer-events: all;
        }
        &--controls {
            pointer-events: all;

            .dots-dropdown__dropdown {
                min-width: max-content;
                padding: 8px 0;
            }

            .dots-dropdown__target {
                backdrop-filter: blur(2px);
                background-color: #ebf7ff;
                width: 27px;
                height: 27px;
                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;
                z-index: 3;

                svg {
                    width: 15px;
                    height: 15px;
                    fill: var(--gray);
                }
            }
        }

        &--note {
            pointer-events: all;
            margin-top: 8px;
            width: 30px;
            height: 30px;
            display: block;
            background-color: var(--white);
            border-radius: 8px;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 16px;
                height: 16px;
                fill: none;
                stroke: var(--blue);
                stroke-width: 1.5px;
            }

            .secondary-tooltip__content {
                left: auto;
                right: 38px;
                bottom: auto;
                top: 0;
                width: max-content;
                max-width: 220px;

                span {
                    color: var(--primaryTwo);
                }
            }
        }

        &--delete {
            pointer-events: all;

            svg {
                width: 18px;
                height: 18px;
                fill: var(--red);
            }
        }

        .row {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &--mobile {
            display: flex;
            align-items: center;

            @media (max-width:$desktop) {
                display: none;
            }
        }
        &--cashback{
            pointer-events: all;
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            color: var(--white);
            font-weight: 500;
            background-color: #ebf7ff;
            color: var(--blue);
            padding: 0 16px;
            height: 38px;
            backdrop-filter: blur(2px);
            border-radius: 12px;

            position: absolute;
            top: 0;
            left: 15px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        &._default{
          position: absolute;
          top: 0;
          left: 0;
          padding: 0;
        }
        @media (max-width:$desktop) {
            .card-primary__info--favorite {
                display: none;
            }
        }
    }
    &__options {
        margin-bottom: 16px;
        z-index: 3;
        position: relative;

        width: 100%;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        pointer-events: none;
        gap: 6px;

        .tag {
            pointer-events: all;
        }

        @media (max-width:$desktop) {
            grid-column: 1/3;
        }
    }
    &__comparison {
        position: relative;
        z-index: 3;
        svg {
            pointer-events: none;
        }
    }

    .card-primary__info--favorite-dropdown {
        &._active {
            .dots-dropdown__target {
                background-color: transparent;

                svg {
                    fill: var(--white);
                }
            }
        }

        .dots-dropdown__target {
            padding: 0;
            border-radius: 0;
        }

        .dots-dropdown__dropdown {
            min-width: max-content;
            width: 300px;
            padding: 8px 0;

            .select-secondary {
                width: calc(100% - 32px);
                position: relative;
                z-index: 99;
            }
        }
    }

    &__content {
        padding: 16px 24px 16px;
        position: relative;
        @media (max-width:$desktop) {
            display: grid;
            grid-template-columns: 1fr 30px;
            grid-column-gap: 16px;
        }

        @media (max-width:$desktop) {
            padding: 16px;
        }
    }
    &__actions{
        position: absolute;
        top: 20px;
        right: 0;
    }
    .card-price{
        +.card-price{
            margin-top: 8px;
        }
    }
    &__price {
        @media (max-width:$desktop) {
            grid-column: 1/3;
        }
    }

    &__price-old {
        display: flex;
        align-items: center;

        span {
            &:nth-child(1) {
                color: var(--primary600);
                font-size: var(--default-fz);
                line-height: var(--default-lh);
                font-weight: 400;

                span {
                    position: relative;

                    &::before {
                        content: '';
                        border-bottom: 1px solid currentColor;
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        transform: rotate(-5deg);
                    }
                }
            }

            &:nth-child(2) {
                margin-left: 8px;
                padding: 3px 10px;
                color: var(--green);
                background: rgba(36, 202, 142, 0.1);
                border-radius: 8px;
                font-size: var(--very-small-fz);
                line-height: var(--very-small-lh);
                font-weight: 400;
            }
        }
    }

    &__price-new {
        margin-top: 2px;
        display: flex;
        align-items: center;

        span {
            &:nth-child(1) {
                font-size: var(--big-small-fz);
                line-height: var(--big-small-fz);
            }

            &:nth-child(2) {
                color: var(--primary600);
                font-size: var(--default-fz);
                line-height: 1;
                font-weight: 400;
                margin-left: 8px;
            }
        }
    }

    &__copies-btn {
        color: var(--blue);
        display: flex;
        align-items: center;
        transition: color $transitionSpeed $transitionFunction;

        svg {
            width: 28px;
            height: 22px;
            fill: currentColor;
            margin-left: 5px;
            transition: transform $transitionSpeed $transitionFunction;
        }

        &._active {
            svg {
                transform: rotate(-180deg);
            }
        }

        @media (min-width:$desktop-min) {
            &:hover {
                color: var(--blue-dark);
            }
        }
    }

    &__copies {
        background-color: var(--white);
        padding: 24px 24px 16px;

        .main-table {
            border-radius: 0;
            padding: 0;

            &__type {
                margin: 0;
                grid-column-gap: 15px;
                grid-template-columns: percent(250, 1180) percent(300, 1180) percent(385, 1180) percent(200, 1180);

                span {
                    &:first-child {
                        margin: 0;
                    }
                }
            }

            &__item {
                padding: 24px 0;
                grid-column-gap: 15px;
                display: grid;
                align-items: center;
                grid-template-columns: percent(250, 1180) percent(300, 1180) percent(385, 1180) percent(200, 1180);
                justify-content: space-between;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--primary100);
                }

                span {
                    &:nth-child(4) {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    &__copies-title {
        margin-bottom: 24px;
    }

    &__copies-close {
        padding: 8px 0;
        color: var(--blue);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: color $transitionSpeed $transitionFunction;

        svg {
            width: 28px;
            height: 22px;
            fill: currentColor;
            margin-left: 5px;
            transform: rotate(-180deg);
        }

        @media (min-width:$desktop-min) {
            &:hover {
                color: var(--blue-dark);
            }
        }
    }

    &__name {
        margin-top: 8px;

        @media (max-width:$desktop) {
            grid-column: 1/2;
        }
    }

    &__address {
        margin-top: 4px;
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);

        &--one {
            display: block;
            font-weight: 500;
            color: var(--blue);
        }

        &--two {
            &:not(:first-child) {
                margin-top: 5px;
            }

            display: block;
            color: var(--primary600)
        }

        @media (max-width:$desktop) {
            grid-column: 1/2;
        }
    }

    &__term {
        margin-top: 4px;
        margin-bottom: 8px;
        display: block;
        color: var(--primary600);
        font-size: var(--default-fz);
        line-height: var(--little-small-lh);
        grid-column: 1/-1;
    }

    &__meter {
        grid-column: 1/-1;
        color: var(--primary600);
        font-size: var(--default-fz);
        line-height: 1;
        font-weight: 400;
        margin-top: 4px;
        margin-bottom: 16px;
    }

    &__mortgage {
        margin-top: 8px;

        font-size: var(--small-fz);
        line-height: var(--small-lh);
        color: var(--primaryTwo);
        font-weight: 500;

        span {
            font-weight: 500;
            color: var(--blue);
        }
    }

    &__text {
        margin-right: 17px;
        display: none;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--dark);

        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
    }

    &__bottom {
        margin-top: auto;
        border-top: 1px solid var(--primary100);
        padding: 16px 24px;

        @media (max-width:$desktop) {
            padding: 16px;
        }
    }

    &__bottom--delete {
        display: flex;
        justify-content: space-between;

        >div {
            span {
                font-size: var(--small-fz);
                line-height: var(--small-lh);
                display: block;

                &:nth-child(1) {
                    font-weight: 500;
                }

                &:nth-child(2) {
                    color: var(--primaryTwo);
                }
            }

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    &__user {}

    &.card-primary--no-user {
        .card-primary {
            &__content {
                padding-bottom: 20px;
            }

            &__text {
                margin-bottom: 65px;
            }
        }
    }

    &.card-primary--improved {
        .card-primary {}

        .user-info {
            grid-template-columns: 40px 1fr 32px;

            &__img {
                width: 32px;
                height: 32px;
                grid-row: 1/3;
                align-self: center;
                border-radius: 50%;
            }
        }

        .card-primary__bottom {
            padding: 18px 24px;
        }

        .user-info-improved {
            padding: 0;
            border-top: none;
        }

        .dots-dropdown__dropdown {
            button {
                svg {
                    width: 15px;
                    height: 15px;
                }
            }

            @media (max-width:$desktop) {
                right: -15px;
            }
        }
    }

    &.card-primary--new {
        .card-primary__info--new {
            right: auto;
            left: 15px;
        }
    }

    &._copies-visible {
        .card-primary {}
    }

    &.card-primary--kit {
        .card-primary__name {
            margin-top: 0;
        }

        .card-primary__container {}
    }

    &__point-system {
        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 19;
        position: static;
        width: max-content;
        margin-bottom: 12px;
    }
    &__rating{
        margin-top: 12px;
    }
    &--white-block{
        border-radius: 0;
        box-shadow: none;
        .card-primary__container{
            background-color: transparent;
        }
        .card-primary__content{
            padding-left: 0;
            padding-right: 0;
        }
        .card-primary__bottom{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
    }
}