.dynamic-circle {
    --size: 80px;
    position: relative;
    width: var(--size);
    height: var(--size);

    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .progress {
      transform: rotate(-90deg) translateX(20px);
      transform-origin: center;
    }

    .progress-bg {
    }
    &__value{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       font-weight: 500;
       font-size: 12px;
    }
    &._60{
      --size: 60px;
    }
}