.main-slider {
    display: flex;
    justify-content: space-between;
    max-height: 500px;
    min-height: 500px;
    &__body {
        overflow: hidden;
        margin-right: 5px;
        flex: 0 1 percent(702, 996);
        position: relative;

        @media (max-width:$desktop) {
            margin-right: 0;
            flex: auto;
        }

        @media (max-width:$smallTablet-max) {
            flex: auto;
        }
        @media (min-width:$desktop-min) {
            &:hover {
                .main-slider__fullscreen{
                    box-shadow: 0 7px 14px rgba(11, 31, 53, 0.15);
                    transform: scale(1.2);
    
                    svg {
                        path {
                            stroke: rgba(22, 22, 22, 1);
                        }
                    }
                }
            }
        }
    }
    &__nav{
        position: absolute;
        bottom: 24px;
        right: 32px;
        z-index: 99;

        display: flex;
        align-items: center;
        gap: 8px;

        .nav-arrow-primary{
            position: static;
        }
    }
    &__item {
        overflow: hidden;
        height: 100%;
        border-radius: 12px;
        width: 100%;
        cursor: pointer;

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }
    }

    

    &__preview {
        flex-shrink: 0;
        flex: 0 1 percent(289, 996);
        border-radius: 12px;

        .swiper-slide {
            cursor: pointer;
            filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.04));

            @media (min-width:$desktop-min) {
                &:hover {
                    
                }
            }

            &._active {
                .object-gallery-preview {

                }
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }

        .nav-arrow-primary {
            &--next {
                right: 50%;
                top: auto;
                bottom: 16px;
                transform: translateX(50%);

                svg {
                    transform: rotate(90deg);
                }
            }

            &--prev {
                left: auto;
                right: 50%;
                transform: translateX(50%);
                top: 16px;

                svg {
                    transform: rotate(-90deg);
                }
            }
        }

        @media (max-width:$desktop) {
            display: none;
        }
    }

    &__fullscreen {
        width: 36px;
        height: 36px;

        pointer-events: none;
        background-color: var(--white);
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        z-index: 2;
        top: 16px;
        right: 16px;

        transition: box-shadow $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;

        border-radius: 50%;

        svg {
            width: 16px;
            height: 16px;

            path {
                stroke: rgba(22, 22, 22, 0.5);
                transition: stroke $transitionSpeed $transitionFunction;
            }
        }

        @media (max-width:$desktop) {
            display: none;
        }
    }

    @media (max-width:$desktop) {
        max-height: 450px;
        min-height: 350px;
        height: 450px;
    }

    @media (max-width:$smallTablet-max) {
        max-height: 400px;
        height: 400px;
    }
}
