.pagination {
    --width-item: 35px;
    --height-item: 30px;
    --gap-item: 10px;
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        min-width: var(--width-item);
        height: var(--height-item);
        border-radius: 7px;
        background-color: var(--white);
        border: 1px solid var(--primary200);
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: var(--small-fz);
        line-height: 1;
        color: var(--dark);
        transition: all $transitionSpeed $transitionFunction;

        &:not(:last-child) {
            margin-right: var(--gap-item);
        }

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 4px;
            border-radius: 7px;
            border: 1px solid transparent;

            &.focus-visible {
                outline: none;
                border: 1px solid var(--blue);
            }
        }

        &[disabled] {
            background-color: var(--blue);
            border: none;
            color: var(--white);
            cursor: default;
            pointer-events: none;
        }

        &.dots {
            border: none;
            background-color: transparent;
            cursor: default;
            pointer-events: none;
            min-width: auto;
        }

        @media (min-width:$desktop-min) {
            &:hover {
                background-color: var(--blue);
                color: var(--white);
                border: 1px solid transparent;
            }
        }
    }
    @media (max-width:$smallTablet-max){
         --gap-item: 12px; 
    }
}
