.price-history {

    &__title {
        font-size: var(--little-big-fz);
        line-height: var(--little-big-lh);
        font-weight: 500;
        margin-bottom: 16px;
    }

    &__wrapper {}

    &__row {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid var(--primary200);
        }
    }

    &__col {}

    &__date {
        width: 100px;
        color: var(--primaryTwo);
    }

    &__price {}

    &__more {
        display: flex;
        align-items: center;
        width: 120px;
    }
}