.record-service {
    text-align: left;
    &__image {   
        padding-bottom: percent(207, 323);
        border-radius: 12px;
        overflow: hidden;
    }

    &__title {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    &__text {
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        p{
            display: block;
            &:not(:last-child){
                margin-bottom: 8px;
            }
        }
    }
}

