.select-primary {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &__name {
        position: absolute;
        z-index: 2;
        top: 8.5px;
        left: 16px;
        color: var(--primaryTwo);
        font-size: var(--very-small-fz);
        line-height: 1;
        font-weight: 400;

        @media (max-width:$desktop) {
            top: 11.5px;
        }
    }

    &__inner {}

    &__body {}

    .choices {
        background-color: var(--stand-bg);
        border: 1px solid var(--primary200);
        overflow: visible;
        padding: 22.5px 16px 9.5px 16px;
        border-radius: 12px;
        transition: border-radius $transitionSpeed $transitionFunction;

        &::after {
            border: none;
            width: 20px;
            height: 20px;
            background-color: transparent;
            background-image: url('../img/check.svg');
            transition: transform $transitionSpeed $transitionFunction;
            display: block;

            margin-top: 0;
            top: -9px;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
        }

        &.is-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::after {
                margin-top: 0;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        @media (max-width:$desktop) {
            padding: 25px 16px 13px;
        }
    }

    .choices__list--dropdown {
        margin-top: 0;
        left: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        z-index: 5;
        border: 1px solid rgba(122, 127, 170, 0.2) !important; // Hack! need to be redefined choices
        box-shadow: var(--shadow-primary);
        transition: visibility $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;
        opacity: 0;
        transform: translateY(10px);

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }

        .choices__item {
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            padding: 8.5px 16px;

            &.is-selected {
                opacity: 0.45;
                pointer-events: none;
            }
        }
    }

    .choices__inner {
        padding: 0 !important; // Hack! need to be redefined choices
        background-color: transparent;
        border-radius: 0;
        border: none;
        min-height: auto;
        line-height: 0;
    }

    .choices__list--single {
        padding: 0;
        font-size: var(--default-fz);
        line-height: var(--default-lh);

        width: calc(100% - 30px);

        >.choices__item--selectable {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.select-sort {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;

    &__label {
        color: var(--primary600);
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;
        margin-right: 8px;
    }

    .choices {
        overflow: visible;
        display: flex;
        align-items: center;

        &::after {
            border: none;
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            background-color: transparent;
            background-image: url(../img/check-blue.svg);
            display: block;
            margin-top: 0;
            position: relative;
            margin-left: 8px;
            right: 0;
            top: 0;
            transform: rotate(180deg);
            transition: transform $transitionSpeedFast $transitionFunction;
        }

        &.is-open {
            &::after {
                margin-top: 0;
                transform: rotate(0deg);
            }

            .choices__list--dropdown {
                border: 1px solid rgba(122, 127, 170, 0.05);
            }
        }

        &.focus-visible {
            .choices__inner {
                .choices__list--single {
                    text-decoration: underline;

                }
            }
        }
    }

    .choices__list--dropdown {
        top: calc(100% + 10px);
        left: -15px;
        min-width: 151px;
        background: #FFFFFF;
        border: 1px solid rgba(122, 127, 170, 0.05);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;
        padding: 0;
        transform: translateY(20px);
        opacity: 0;
        visibility: hidden;
        transition: transform $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;
        margin-top: 0;

        .choices__item {
            padding: 12px 16px;
            color: var(--dark);
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);
            font-weight: 400;

            &.is-selected {
                opacity: 0.45;
                pointer-events: none;

                &.choices__item--selectable {
                    cursor: default;
                }
            }
        }

        &.is-active {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }

        @media (max-width:$desktop) {
            display: none;
            border-radius: 0;
            position: static;
            border: none;
            box-shadow: none;
            margin: 0;
            transform: translate(0);
            opacity: 1;
            visibility: visible;
        }
    }

    .choices__list--single {
        padding: 0;
    }

    .choices__inner {
        padding: 0 !important;
        min-height: auto;
        background-color: transparent;
        border: none;
        border-radius: 0;
        vertical-align: middle;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        color: var(--blue);
    }
}

.select-multiple {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    height: 48px;

    &__inner {}

    &__body {}

    &__placeholder {
        font-size: var(--default-fz);
        line-height: 1;
        color: var(--gray);
        opacity: 0.6;
    }

    &__main-placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        opacity: 1;
        z-index: 1;
        font-size: var(--default-fz);
        line-height: 1;
        pointer-events: none;
        transition: color $transitionSpeed $transitionFunction;
    }

    .choices__list--single {
        font-size: var(--default-fz);
        line-height: 1;
        width: 100%;
        text-align: right;
    }

    .choices {
        background-color: var(--stand-bg);
        border: 1px solid var(--primary200);
        overflow: visible;
        padding: 0 30px 0 55px;
        border-radius: 12px;
        transition: border-radius $transitionSpeed $transitionFunction;
        height: 100%;
        min-width: 125px;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;


        padding-right: 50px;
        transition: border $transitionSpeed $transitionFunction;

        &::after {
            content: '';
            border: none;
            width: 20px;
            height: 20px;
            background-color: transparent;
            background-image: url('../img/check.svg');
            transition: transform $transitionSpeed $transitionFunction;
            display: block;

            margin-top: 0;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            position: absolute;
        }

        &.is-open {
            .choices__list {
                border-color: rgba(122, 127, 170, 0.1);
            }

            &::after {
                margin-top: 0;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        @media (max-width:$desktop) {}
    }

    .choices__list--dropdown {
        margin-top: 5px;
        left: -1px;
        border-radius: 12px;
        z-index: 5;
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
        transition: visibility $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;
        opacity: 0;
        transform: translateY(10px);
        width: 100%;
        box-sizing: content-box;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }

        .choices__item {
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);
            padding: 12px 16px;

            &.is-selected {
                opacity: 0.45;
                pointer-events: none;
            }
        }

        @media (max-width:$desktop) {
            left: -0.5px;
        }
    }

    .choices__inner {
        padding: 0 !important; // Hack! need to be redefined choices
        background-color: transparent;
        border-radius: 0;
        border: none;
        min-height: auto;
        line-height: 0;
        pointer-events: none;
    }

    .choices__list--multiple .choices__item {
        border-radius: 0;
        padding: 0;
        font-size: var(--default-fz);
        line-height: 1;
        font-weight: 400;
        margin: 0;
        background-color: transparent;
        border: none;
        color: var(--gray);

        display: inline-flex;
        align-items: center;

        &:not(:first-child) {
            margin-left: 16px;
        }
    }

    .choices[data-type*=select-multiple] .choices__button {
        margin: 0 0 0 8px;
        background-image: url('../img/x.svg');
        opacity: 1;
        width: 15px;
        height: 15px;
        padding: 0;
        border: none;
        background-size: 15px;
        display: inline-block;
        pointer-events: all;
    }

    .choices__input {
        display: none;
    }

    .choices__list--multiple {
        overflow-x: auto;
        width: 100%;
        display: inline-flex;
        justify-content: end;
        white-space: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;
        @include hiddenScroll;

        >.choices__item {
            white-space: nowrap;
        }

        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 30px;
            height: 100%;
            background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, white 100%);
            pointer-events: none;
        }
    }

    .choices[data-type*=select-multiple] .choices__inner {
        cursor: pointer;
    }

    &._selected {
        .select-multiple {
            &__main-placeholder {
                color: #b6d5f8;
            }
        }
    }


    @media (min-width:$desktop-min) {
        &._hover {
            .choices {
                border: 1px solid var(--blue);
            }

            .select-multiple__main-placeholder {
                color: var(--blue);
            }
        }
    }
}

.select-secondary {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &__wrapper {
        height: 40px;
        position: relative;
        border: 1px solid var(--primary200);
        border-radius: 12px;
        min-width: 125px;

        transition: border $transitionSpeed $transitionFunction;

        &::after {
            content: '';
            border: none;
            width: 20px;
            height: 20px;
            background-color: transparent;
            background-image: url('../img/check.svg');
            transition: transform $transitionSpeedFast $transitionFunction;
            display: block;

            margin-top: 0;
            top: -9px;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            position: absolute;
            pointer-events: none;
        }

        @media (max-width:$desktop) {
            height: 50px;
        }
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        opacity: 1;
        z-index: 1;

        font-size: var(--default-fz);
        line-height: 1;

        pointer-events: none;

        transition: color $transitionSpeed $transitionFunction;
    }

    &__inner {}

    &__body {}

    .choices {
        background-color: transparent;
        border: none;

        overflow: visible;
        padding: 0 16px;
        height: 100%;
        display: flex;
        align-items: center;

        &::after {
            content: none;
        }

        .choices__list {
            border-color: rgba(122, 127, 170, 0.1);
        }

        .choices__list.choices__list--dropdown {
            .choices__item.is-selected {
                &::before {
                    content: url(../img/check-mark--blue.svg);
                    background-size: 14px 14px;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 16px;
                    width: 16px;
                    height: 20px;
                }
            }
        }
    }

    &._error {
        .choices {
            border: 1px solid var(--red);
        }

        .select-secondary__placeholder {
            color: var(--red);
        }

        ._error-span {
            display: block;
            color: var(--red);
            font-size: var(--small-fz);
            line-height: 1;
            margin-top: 4px;
            margin-left: 8px;
        }
    }

    .choices__list--dropdown {
        margin-top: 5px;
        left: 0px;
        border-radius: 12px;
        z-index: 11;
        border: 1px solid rgba(122, 127, 170, 0.1);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
        transition: visibility $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;
        opacity: 0;
        transform: translateY(10px);
        width: 100%;
        box-sizing: content-box;
        cursor: default;
        padding-top: 16px;
        padding-bottom: 16px;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }

        .choices__placeholder {
            opacity: 1;
        }

        .choices__item {
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);
            padding: 12px 16px;

            &.is-selected {
                pointer-events: none;
                background-color: rgba(0, 150, 255, 0.08);
                color: var(--blue);

                &.choices__item--selectable {
                    cursor: default;
                }
            }
        }

        @media (max-width:$desktop) {
            display: none;
        }
    }

    .choices__inner {
        padding: 0 !important; // Hack! need to be redefined choices
        background-color: transparent;
        border-radius: 0;
        border: none;
        min-height: auto;
        line-height: 0;
    }

    .choices__list--single {
        padding: 0 30px 0 95px;
        font-size: var(--default-fz);
        line-height: 1;
        width: 100%;
        text-align: right;

        >.choices__item--selectable {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        >.choices__placeholder {
            opacity: 0.6;
            color: var(--gray);
        }
    }

    &._selected {
        .select-secondary {
            &__placeholder {
                color: #b6d5f8;
            }
        }
    }

    &._show {
        .select-secondary__wrapper {
            &::after {
                margin-top: 0;
                transform: translateY(-50%) rotate(-180deg);
            }
        }
    }

    &--city {
        .choices__list--single {
            padding: 0 30px 0 60px;
        }
    }

    &--no-placeholder {
        .choices__placeholder {
            display: none;
        }
    }

    @media (max-width:$desktop) {
        width: 100%;
    }

    @media (min-width:$desktop-min) {
        &._hover {
            .select-secondary__wrapper {
                border: 1px solid var(--blue);

            }

            .select-secondary__placeholder {
                color: var(--blue);
            }
        }
    }

    &._disabled {
        .select-secondary__wrapper {
            border: 1px solid transparent;
            background-color: rgba(220, 221, 221, 0.65);
        }
    }
}

.field-select {
    display: flex;
    align-items: start;

    &__name {
        margin-top: 12px;
        margin-right: 24px;
        width: var(--width);
        flex: 0 0 var(--width);

        display: flex;
        align-items: center;

        .secondary-tooltip {
            margin-left: 8px;

            &__content {
                width: max-content;
                max-width: 250px;
            }
        }

        @media (max-width:$desktop) {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 0 10px 0;
        }
    }

    &__descr {
        margin-bottom: 16px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;

        .secondary-tooltip {
            align-self: center;

            .secondary-tooltip__content {
                width: max-content;
                max-width: 250px;
            }
        }
    }

    &--img {
        .field-select__wrapper {
            width: 100%;

            @media (max-width:$desktop) {}
        }

        .field-select__item {
            position: relative;
            border: 1px solid var(--primary200);
            background-color: var(--white);
            color: var(--dark);
            width: 20%;
            min-height: 150px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 8px 16px 0 0;

            >img {
                width: 50px;
                height: 50px;
                margin-bottom: 16px;

                @media (max-width:$desktop) {
                    width: 35px;
                    height: 35px;
                    margin-bottom: 0;
                    margin-right: 16px;
                }
            }

            .field-select__check {
                position: absolute;
                top: -4px;
                right: -4px;
                width: 20px;
                height: 20px;
                background-color: var(--blue);
                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;

                opacity: 0;
                visibility: hidden;

                transition: opacity $transitionSpeed $transitionFunction,
                    visibility $transitionSpeed $transitionFunction;

                svg {
                    width: 10px;
                    height: 10px;
                    fill: none;
                    stroke: var(--white);
                    stroke-width: 1.5px;
                }
            }

            &._active {
                border: 1px solid var(--blue);

                .field-select__check {
                    opacity: 1;
                    visibility: visible;
                }
            }

            @media (min-width:$desktop-min) {
                &:hover {
                    &:not(._no-select, ._active) {
                        background-color: var(--white);
                        border: 1px solid var(--blue);
                    }
                }
            }

            @media (max-width:$desktop) {
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                min-height: 80px;
                margin: 8px 0 0 0;
            }
        }
    }

    &__item {
        position: relative;
      margin: 4px;
        border: 1px solid transparent;
        
        &._error {
            border-color: var(--red);
            background-color: transparent;
            color: var(--red);
        }
    }

    &__checkbox {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
    }

    &--col {
        flex-direction: column;

        .field-select__name {
            font-weight: 500;
            margin: 0 0 12px 0;
            --width: auto;
        }
    }

    &--rooms {
        @media (max-width:$desktop) {
            .field-select__wrapper {
                width: 90%;
            }

            .field-select__item {
                justify-content: center;
                flex: 1 1 auto;
            }
        }

        @media (max-width:$smallTablet-max) {
            .field-select__wrapper {
                width: 100%;
            }
        }
    }

    .select-map-btn {
        background-color: var(--primary100);
        font-weight: 500;
        height: 38px;
        border: 1px solid transparent;
        transition: background-color $transitionSpeed $transitionFunction,
            all $transitionSpeed $transitionFunction;

        svg {
            fill: var(--dark) !important;
        }

        &._active {
            color: var(--gray) !important;
            background-color: var(--white) !important;
            border: 1px solid var(--primary100) !important;
        }

        @media (min-width:$desktop-min) {
            &:hover {
                background-color: var(--primary200);
                border: 1px solid transparent;
                color: var(--gray);
            }
        }
    }

    >.checkbox-secondary {
        margin-left: 10px;
        margin-top: 12px;
    }

    @media (max-width:$desktop) {
        flex-direction: column;
    }
}


.field-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    padding: 20px 32px;

    background-color: var(--white);
    border-radius: 12px;
    &__content {
        display: flex;flex-direction: column;
        gap: 6px;
    }

    &__title {
    }

    &__descr {
        color: var(--primaryTwo);
    }

    &__checkbox {
    }
    @media (max-width:$desktop){
         background-color: var(--primary100); 
         padding: 20px;
    }
}


.field-input {
    display: flex;
    align-items: start;

    &__add {
        margin-top: 16px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 8px;
            fill: var(--blue);
            width: 14px;
            height: 14px;
        }
    }

    &__name {
        margin-top: 12px;
        margin-right: 24px;
        width: var(--width);
        flex: 0 0 var(--width);

        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 0 10px 0;
        }
    }

    &__wrapper {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        max-width: 100%;

        .input-text {
            .input-text__label {
                grid-template-columns: 1fr max-content;
              }
            &._width-100-prc{
                .input-text__label {
                  grid-template-columns: 100%;
                }
            }
            &._max-w-130{
                max-width: 130px;
            }
            &--disabled{
                .input-text__input{
                    text-align: left;
                }
            }
        }
        >span{
           margin-top: 10px;
        }
        &._not-wrap {
            flex-wrap: nowrap;
            align-items: center;
            gap: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__remove {
        margin-top: 8px;
        width: 30px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 43;

        svg {
            fill: var(--red);
            stroke-width: 1.5px;
            width: 18px;
            height: 18px;
        }
    }

    &--col {
        flex-direction: column;

        .field-input__name {
            font-weight: 500;
            margin: 0 0 12px 0;
            --width: auto;
        }
    }

    >.checkbox-secondary {
        margin-left: 20px;
        margin-top: 12px;
    }

    .secondary-tooltip {
        margin-left: 10px;

        &__content {
            width: max-content;
            max-width: 250px;
        }
    }

    >.secondary-tooltip {
        margin-top: 12px;
    }

    @media (max-width:$desktop) {
        flex-direction: column;
    }
}

.field-notif {
    display: flex;
    align-items: start;

    &__name {
        margin-top: 10px;
        margin-right: 24px;
        width: var(--width);
        flex: 0 0 var(--width);

        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 0 10px 0;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;

        .input-text {
            &__label {
                grid-template-columns: 100%;
            }
        }

        &._not-wrap {
            flex-wrap: nowrap;
            align-items: center;
            gap: 16px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 260px 260px 1fr;
        align-items: center;
        grid-gap: 8px;
        width: 100%;

        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    &__remove {
        justify-self: end;
        width: 30px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 43;

        svg {
            fill: var(--red);
            stroke-width: 1.5px;
            width: 18px;
            height: 18px;
        }
    }

    &__add {
        margin-top: 16px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 8px;
            fill: var(--blue);
            width: 14px;
            height: 14px;
        }
    }

    &--col {
        flex-direction: column;

        .field-notif__name {
            font-weight: 500;
            margin: 0 0 12px 0;
            --width: auto;
        }
    }

    @media (max-width:$desktop) {
        flex-direction: column;
    }
}

.field-file {
    display: flex;
    align-items: start;

    &__name {
        margin-top: 10px;
        margin-right: 24px;
        width: var(--width);
        flex: 0 0 var(--width);

        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 0 10px 0;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;

        .input-text {
            &__label {
                grid-template-columns: 100%;
            }
        }

        &._not-wrap {
            flex-wrap: nowrap;
            align-items: center;
            gap: 16px;
        }
    }

    &--col {
        flex-direction: column;

        .field-file__name {
            font-weight: 500;
            margin: 0 0 12px 0;
            --width: auto;
        }
    }

    .photo-load {
        &__images {
            grid-template-columns: repeat(auto-fill, 205px);
        }

        .place-sale-photo__image {
            position: relative;
            transition: opacity $transitionSpeedFast $transitionFunction,
                transform $transitionSpeedFast $transitionFunction;
            background-color: var(--primary100);

            >div {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                >svg {
                    width: 45px;
                    height: 45px;
                    fill: var(--dark);
                }

                >span {
                    display: block;
                    margin-top: 16px;
                    font-size: var(--default-fz);
                    line-height: var(--defualt-lh);
                    text-align: center;
                }
            }

            &::before {
                content: '';
                position: absolute;
                background-color: rgba(36, 38, 41, .5);
                z-index: 1;
                inset: 0;
                opacity: 0;
                transition: opacity $transitionSpeedFast $transitionFunction;
            }

            @media (min-width:$desktop-min) {
                &:hover {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }

                    .place-sale-photo__remove {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    @media (max-width:$desktop) {
        flex-direction: column;
    }
}

.field-date {
    display: flex;
    align-items: start;

    &__name {
        margin-top: 10px;
        margin-right: 24px;
        width: var(--width);
        flex: 0 0 var(--width);

        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 0 10px 0;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        max-width: 100%;

        .input-text {
            &__label {
                grid-template-columns: 100%;
            }
        }
    }

    &__col {
        display: flex;
        align-items: center;
        gap: 8px;

        &:nth-child(1) {
            .input-text:nth-child(1) {
                max-width: 125px;
            }

            .input-text:nth-child(2) {
                max-width: 85px;
            }
        }

        &:nth-child(3) {
            .input-text:nth-child(1) {
                max-width: 85px;
            }
        }
    }

    &--col {
        flex-direction: column;

        .field-date__name {
            font-weight: 500;
            margin: 0 0 12px 0;
            --width: auto;
        }
    }

    @media (max-width:$desktop) {
        flex-direction: column;
    }
}

.field-checkbox {
    display: flex;
    align-items: start;

    &__name {
        margin-top: 10px;
        margin-right: 24px;
        width: var(--width);
        flex: 0 0 var(--width);

        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 0 10px 0;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 100%;

        .checkbox-secondary {
            &__label {
                justify-content: start;
            }
        }
    }

    &--col {
        flex-direction: column;

        .field-checkbox__name {
            font-weight: 500;
            margin: 0 0 12px 0;
            --width: auto;
        }
    }

    @media (max-width:$desktop) {
        flex-direction: column;
    }
}

.field-range {
    display: flex;
    align-items: center;

    &__name {
        margin-right: 24px;
        width: var(--width);
        flex: 0 0 var(--width);

        @media (max-width:$desktop) {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 0 10px 0;
        }
    }

    &__wrapper {
        display: flex;
        max-width: 462px;

        .input-text {
            &__label {
                grid-template-columns: max-content 1fr max-content;

                @media (max-width:$desktop) {
                    grid-template-columns: 1fr max-content;
                    height: 50px;
                    >span {
                        display: none;
                    }
                }
            }

            &__input {
                &::placeholder {
                    opacity: 1;
                }

                @media (min-width:$desktop-min) {
                    &::placeholder {
                        opacity: 0;
                    }
                }
            }

            &:nth-child(1) {
                .input-text__label {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &:nth-child(2) {
                .input-text__label {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            @media (max-width:$desktop) {
                flex: 0 1 45%;
            }

            @media (max-width:$smallTablet-max) {
                flex: auto;
                flex-grow: 1;
            }
        }

        @media (max-width:$desktop) {
            width: 100%;
        }
    }

    &__choices {
        margin-left: 8px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width:$desktop) {
            margin-left: 0;
            margin-top: 12px;
        }
    }

    &__choice {
        margin: 0 4px 4px 0;
    }

    &--col {
        align-items: start;
        flex-wrap: wrap;

        .field-range__name {
            font-weight: 500;
            margin: 0 0 12px 0;
            --width: auto;
            flex: 1 1 100%;
        }

        .field-range__choices {
            align-self: center;

            @media (max-width:$desktop) {
                align-self: start;
            }
        }
    }
    @media (max-width:$desktop) {
        flex-direction: column;
        align-items: start;
    }
}


.field-dropdown {
    display: flex;
    align-items: center;

    &__name {
        margin-right: 24px;
        width: var(--width);
        flex: 0 0 var(--width);

        @media (max-width:$desktop) {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 0 10px 0;
        }
    }

    &__wrapper {
        width: 100%;
        max-width: 462px;

        .search-select__button-wrapper>div:nth-child(2) {
            margin-left: 0;
            text-align: left;
        }

        .search-select-one__button-wrapper>div:nth-child(2) {
            margin-left: 0;
            text-align: left;
            justify-content: start !important;
        }

        .select-dropdown-checkbox__button {
            grid-template-columns: 1fr 20px;

            .select-dropdown-checkbox__title {
                margin-left: 0;
                text-align: left;
            }
        }

        .filter-dropdown__button-wrapper {
            grid-template-columns: max-content;

            >div:nth-child(1) {
                display: none;
            }
        }

        .select-secondary__wrapper {
            background-color: var(--white);

            @media (min-width:$desktop-min) {
                height: 40px;
            }

            .choices__list--single {
                text-align: left;
                padding: 0 30px 0 0;

                @media (min-width:$desktop-min) {
                    font-size: var(--default-fz);
                }
            }
        }

        @media (max-width:$desktop) {
            max-width: 85%;
        }

        @media (max-width:$smallTablet-max) {
            max-width: 100%;
        }
    }

    &__choices {
        margin-left: 8px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width:$desktop) {
            margin-left: 0;
            margin-top: 12px;
        }
    }

    &__choice {
        margin: 0 4px 4px 0;
    }

    &--col {
        align-items: start;
        flex-wrap: wrap;

        .field-dropdown__name {
            font-weight: 500;
            margin: 0 0 12px 0;
            --width: auto;
            flex: 1 1 100%;
        }

    }

    @media (max-width:$desktop) {
        flex-direction: column;
        align-items: start;
    }
}


.select-third {
    position: relative;
    display: block;

    &__button {
        padding: 24px 0 6px;
        display: block;
        width: 100%;
        text-align: left;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--primary200);
            transition: background-color $transitionSpeed $transitionFunction;
        }
    }

    &__name {
        display: block;
        font-size: var(--default-fz);
        line-height: 1;
        color: var(--primaryTwo);

        position: absolute;
        bottom: 12px;
        left: 0;
    }

    &__value {
        display: none;
    }

    &__check {
        position: absolute;
        bottom: 6px;
        right: 0;
        width: 24px;
        height: 24px;

        transition: transform $transitionSpeedFast $transitionFunction;
    }

    &__dropdown {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;
        z-index: 99;
        transform: translateY(10px);
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;
    }

    &__list {
        padding: 8px 0;
    }

    &__item {
        transition: background-color $transitionSpeed $transitionFunction;
        padding: 16px;

        line-height: 1;
        cursor: pointer;

        @media (min-width:$desktop-min) {
            &:hover {
                background-color: var(--primary100);
            }
        }

        &[selected] {
            background-color: var(--primary100);
        }
    }

    &__input-hidden {}

    &._selected {
        .select-third__name {
            font-size: var(--small-fz);
            transform: translateY(-22px);
        }

        .select-third__value {
            display: block;
        }
    }

    &._show {
        .select-third__check {
            transform: rotate(-180deg);
        }

        .select-third__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}
