.tags {
    &__list {
        display: flex;
        flex-wrap: wrap;

        @media (max-width:$desktop) {
            overflow-x: auto;
            @include hiddenScroll;
            flex-wrap: nowrap;
        }
    }

    &__item {
        margin: 0 8px 8px 0;

        @media (max-width:$desktop) {
            margin: 0 8px 0 0;
        }
    }

    &__btn {
        margin-top: 6px;
        color: var(--blue);
        display: flex;
        align-items: center;

        span {
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            font-weight: 400;
        }

        svg {
            width: 20px;
            height: 17px;
            fill: currentColor;
            margin-left: 8px;
            transition: transform $transitionSpeed $transitionFunction;
        }

        &.focus-visible {
            color: var(--primary600);
        }

        @media (max-width:$desktop) {
            display: none;
        }
    }

    &._active {
        .tags__btn {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.tag {
    height: 40px;
    padding: 0 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 18px;

    color: var(--dark);
    background-color: var(--primary100);
    max-width: 100%;

    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &._active {
        background-color: var(--blue);
        color: var(--white);
    }

    &.focus-visible {
        &:not(._active) {
            background-color: var(--primary200);
        }
    }

    @media (min-width:$desktop-min) {
        &:hover {
            &:not(._no-select, ._active,._no-hover) {
                background-color: var(--primary200);
            }
        }
    }
    &[data-tooltip-html]{
        >span{
            pointer-events: none;
        }
    }
    &._no-select {
        cursor: default;
    }
    &--message{
        border-radius: 4px 20px 20px;
        font-weight: 400;
    }
    &--small{
        padding: 0 12px;
        height: 24px;
        border-radius: 12px;
        font-size: 12px;
    }
    &--very-small{
        padding: 0 12px;
        height: 24px;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 400;
    }
    &--blue{
        background-color: var(--blue);
        color: var(--white);
    }
    &--white{
        background-color: var(--white);
    }
    &--green{
        background-color: rgba(36, 202, 142, 0.2);
        font-weight: 500;
    }
    &--yellow{
        background-color: rgba(255, 227, 66, 0.2);
        font-weight: 500;
    }
    &--purple{
        background-color: rgba(148, 61, 189, 0.2);
        font-weight: 500;
    }
    &--dark-green{
        background-color: rgb(202 233 161);
        font-weight: 500;
    }
}

.tag-icon {
    min-height: 40px;
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 12px;

    color: var(--dark);
    background-color: var(--primary100);
    max-width: 100%;

    svg {
        width: 16px;
        height: 16px;
        fill: var(--dark);

        &:last-child {
            width: 20px;
            height: 20px;
        }
    }

    span {
        font-weight: 500;
        margin: 0 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.tags-stickers {
    .types-objects__item {
        >div {
            &:last-child {

                button,
                a {
                    &:nth-child(1) {
                        svg {
                            stroke: var(--blue);
                            fill: none;
                            stroke-width: 1.5px;
                        }
                    }

                    &:nth-child(2) {
                        svg {
                            stroke: none;
                            fill: var(--red);
                        }
                    }
                }
            }
        }
    }

    &__filter {
        margin-top: 32px;

        .filter__row {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .filter__clear {
        margin-right: 0;
    }
}
