.additionally {
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
    background-color: var(--white);
    padding: 32px;
    &__title {
        margin-bottom: 8px;
        display: flex; 
        align-items: center;
        gap: 12px;
        .secondary-tooltip{
            &__content{
                width: max-content;
                max-width: 300px;
                font-weight: 400;
            }
        }
    }
    &__descr{
        color: var(--dark);
        margin-bottom: 20px;
        font-weight: 500;
        span{
            display: inline-block;
            margin-left: 5px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
       margin-bottom: 16px;
    }
    &__more{
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: var(--blue);
        font-size: var(--default-fz);
        line-height: 1;
        font-weight: 500;
        svg {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            fill: currentColor;
            transition: transform $transitionSpeedFast $transitionFunction;
        }

        &._active {
            svg {
                transform: rotate(-180deg);
            }
        }
    }
    &__form{
        margin-top: 32px;

        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__btn{
        margin-top: 32px;
        width: 100%;
    }

    &._clear{
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
    }
    @media (max-width:$desktop){
         padding: 16px; 
    }
}
.additionally-calc{
    margin-top: 16px;
    width: 100%;
    .card-checkbox{
        border-radius: 0;
        padding: 0;
        border: none;
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
    .user-info{
       display: flex;
       flex-direction: column;
       &__name{
        align-self: flex-start;
        white-space: normal;
            color: var(--gray);
            font-weight: 400;
       }
    }

    &__list{
        margin-top: 12px;
        max-height: 125px;
    }
    .simplebar-track.simplebar-vertical{
        margin-right: -10px;
    }
}
