.agent-rating{

    &__content{
        .field-file{
            margin-top: 16px;
        }
    }

    .bid-rating{
        &__items{
            margin-top: 16px;
        }
        &__item{
            &:not(:last-child){
                margin-bottom: 16px;
            }
        }
        &__descr{
            margin-bottom: 4px;
        }
    }
}