.apartmentography{
    &__container{
        background-color: var(--white);
    box-shadow: var(--shadow-primary);
    padding: 32px;
    border-radius: 12px;
    }
    .tabs-primary{
        margin-top: 16px;
        &__container{
            padding: 0;
            border-radius: 0;
            background-color:transparent;
        }
        &__inner{
            margin-top: 0;
        }
    }
}
.apartmentography-house {

    &__wrapper {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 40% 55%;
        grid-column-gap: 40px;
        grid-row-gap: 16px;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__name {
        color: var(--primaryTwo);
        width: 95px;
    }

    &__line {
        flex-grow: 1;
        margin: 0 16px;
        height: 100%;

        display: flex;
        align-items: center;
        span{
            height: 6px;
            background-color: var(--blue);
            border-radius: 6px;
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 500;
        >span{
            font-weight: 400;
            padding: 5px 8px;
            border-radius: 6px;
            background-color: var(--primary100);
            display: block;
            color: var(--dark);
            font-size: 11px;
            line-height: 1;
        }
    }

    &__info {
        background-color: var(--primary100);
        border-radius: 12px;
        padding: 20px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 24px;
    }
    &__element{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 6px;
        &::before{
            content: "";
            flex: 1 1 0%;
            position: relative;
            top: 5px;
            border-bottom: 1px dashed var(--primary200);
            height: 1px;
            order: 2;
            flex-grow: 1;
        }
        p{
            &:nth-child(1){
                color: var(--primaryTwo);
            }
            &:nth-child(2){
                font-weight: 500;
                order: 3;
            }
        }
    }
}

.apartmentography-floor {

    &__header {
        display: flex;
        gap: 12px;
        .select-secondary{
            max-width: 350px;
            width: 100%;
        }
    }

    &__title {
    }

    &__table {
        margin-top: 24px;
    }
}
