.base-agent-catalog {
    &__body {
        @media (max-width:$desktop) {
            padding: calc(var(--header-height,40px) + 24px) 0 16px;
            background-color: var(--stand-bg);
        }
        .base-agent-catalog__filter{
            @media (max-width:$desktop){
                 display: none; 
            }
        }
    }

    &__title {
        @media (max-width:$desktop) {
            padding: 0 16px;
        }
    }

    &__filter {
        margin-top: 24px;

        @media (max-width:$desktop) {
            display: flex;
            align-items: center;
            padding: 0 16px;
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }



    &__table {
        margin-top: 16px;
        background-color: var(--stand-bg);
        .main-table {
            &__type {
                grid-template-columns: percent(300, 1132) percent(500,1132) percent(150, 1132) percent(150, 1132);
                grid-column-gap: 20px;
                margin: 0 24px;
                span{
                    margin: 0;
                }
            }
        }
        .object-info-grade{
            grid-template-columns: percent(300, 1132) percent(500,1132) percent(150, 1132) percent(150, 1132);
            min-height: 96px;
            padding-top: 24px;
            padding-bottom: 24px;
        }

        @media (max-width:$desktop) {
            padding: 0;
            margin-top: 16px;
            background-color: transparent;
        }
    }

    @media (max-width:$desktop) {
        padding-top: 0;
    }
}

.base-agent-catalog-filter {
    &__row--1 {
        grid-template-columns: 125px percent(333,1180) 1fr 200px;
    }
}
