.calendar-page {

    &__title {
        @media (max-width:$desktop) {
            padding: 0 16px;
        }
    }

    &__container {
        @media (max-width:$desktop) {
            padding: calc(var(--header-height) + 24px) 0 16px;
            background-color: var(--stand-bg);
        }
    }

    &__body {
        margin-top: 24px;
        padding: 32px 0;
        background-color: var(--stand-bg);

        @media (max-width:$desktop) {
            margin-top: 24px;
            background-color: var(--white);
            padding: 0;
        }
    }

    &__calendar {
        display: grid;
        grid-template-columns: 1fr 350px;
        grid-column-gap: 12px;
        grid-row-gap: 12px;

        @media (max-width:$desktop) {
            box-shadow: none;
            padding: 16px;
        }
    }

    .calendar-primary {
        background-color: var(--white);
        padding: 24px;
        border-radius: 12px;
        box-shadow: var(--shadow-primary);
    }

    &__info {
        height: 100%;

        .fc-event-big {
            &:not(:last-child) {
                border-bottom: 1px solid var(--primary100);
                margin-bottom: 16px;
                padding-bottom: 16px;
            }
        }
    }

    &__new-event {
        margin-left: auto;
        color: var(--blue);

        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 500;
        >div{
            width: 26px;
            height: 26px;
            border-radius: 8px;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: background-color $transitionSpeedFast $transitionFunction;
            svg{
                width: 12px;
                height: 12px;
                fill: var(--blue);
            }
        }
        >span{
            margin: 0 !important;
        }
        @media (min-width:$desktop-min){
             &:hover{
              >div{
                background-color: var(--primary100);
                color: var(--blue);
              }
             } 
        }
    }

    &__list {
        background-color: var(--white);
        padding: 32px;
        border-radius: 12px;
        box-shadow: var(--shadow-primary);
        grid-column: 1/-1;

        .main-table {
            margin-top: 32px;
            padding: 0;
            border-radius: 0;

            &__type {
                margin: 0 24px; 
                display: grid;
                grid-template-columns: percent(210, 968) percent(420, 968) 1fr;
                grid-column-gap: 20px;
                >span{
                  margin: 0;
                }
            }

            .object-info-secondary {
                grid-template-columns: percent(210, 968) percent(420, 968) max-content;
                &__from {
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;
                }
                &__time-geo{
                    span{
                        color: var(--dark);
                    }
                }
                .user-info{
                    grid-template-columns: 32px 1fr;
                    &__avatar{
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}

.calendar-info {
    background-color: var(--white);
    padding: 24px;
    border-radius: 12px;
    box-shadow: var(--shadow-primary);
    min-height: 100%;

    &__header {}

    &__content {
        max-height: 569px;

        .simplebar-track.simplebar-vertical {
            margin-right: -16px;
        }
    }

    @media (min-width:$desktop-min) {
        &._sticky {
            position: sticky;
            top: 16px;
            width: 100%;
        }
    }

    &._one-style {
        .fc-event-big {
            &::before {
                height: 100%;
            }
        }
    }
}
