.clients{
    .main-table{
        .main-table__type{
            padding: 0 24px;
            grid-template-columns: percent(330, 1112)  percent(330,1112) percent(330,1112) 1fr;
            grid-column-gap: 32px;
            span{
                &:first-child{
                    margin: 0;
                }
                text-align: left;
                margin-left: 20px;
            }
        }

        .client-info{
            min-height: 97px;
        }
    }
}