.control-cards {
    --height-map: calc(var(--vh,100vh) - 165px - 32px);

    &__btn {
        &._active {
            background-color: var(--blue);
            color: var(--white);
        }
    }

    &__container {}

    &__wrapper {
        &--horizontal {
            +.control-cards__maps {
                display: block;
            }
        }
    }

    &__maps {

        .skeleton {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
         width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 12px;
        }

        &._sticky {
            position: sticky;
            top: 0;
            max-height: var(--height-map);
            min-height: var(--height-map);
            overflow: hidden;
        }

        .map-primary {
            height: 100%;
            width: 100%;
            
            transition: opacity 1s $transitionFunction,
            visibility 1s $transitionFunction;
            &._hidden-map{
                opacity: 0;
                visibility: hidden;
            }
        }

        &-resize {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);


            background-color: var(--white);
            box-shadow: var(--shadow-primary);
            border-radius: 50%;

            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            height: 40px;
            width: 40px;
            z-index: 99;



            svg {
                width: 25px;
                height: 25px;
                fill: var(--dark);
            }

            @media (min-width:$desktop-min) {
                &:hover {
                    box-shadow: var(--shadow-black-big);
                }
            }
        }
        @media (max-width:$desktop){
             display: none; 
        }
    }

    &--maps {
        @media (min-width:$desktop-min){
            .cards-list__items{
                margin-top: 0;
                padding-right: 8px;
                display: grid;
                grid-template-columns: 100%;
            }

            .control-cards__container {
                display: block;
                grid-template-columns: 380px 1fr;
                grid-column-gap: 12px;

                min-height: var(--height-map);
                max-height: var(--height-map);
                height: 100%;
                &._map-full{
                    min-height: auto;
                    max-height: none;
                    .cards-list__items{
                        grid-template-columns: 100%;
                    }
                    .control-cards__wrapper{
                        max-height: none;
                        overflow-y:visible;
                    }
                }
            }
            .control-cards__wrapper{
                max-height: var(--height-map);
                overflow-y: auto;
            }
            .control-cards__maps {
                display: none;
            }
    
            &._map-active {
                .cards-list__next{
                    display: none;
                }
                .cards-list__pagination{
                    display: none;
                }
                .control-cards__maps {
                    display: block;
                }
    
                .control-cards__container {
                    display: grid;
                }
            } 
        }
    }

    @media (min-width:$tablet-min) {
        &__content--vertical,
        &__content--horizontal-map {
            .tabs-primary__row-list {
                grid-template-columns: auto;
            }

            .card-primary {
                width: 100%;
                animation-name: fadeTransformX;
                animation-duration: 0.5s;

                &:nth-child(1) {
                    animation-duration: 0.5s;
                }

                &:nth-child(2) {
                    animation-duration: 0.8s;
                }

                &:nth-child(3) {
                    animation-duration: 1.1s;
                }

                &__container {
                    display: grid;
                    grid-template-columns: percent(315, 1016) 1fr;
                    min-height: 375px;
                    height: auto;
                }

                &__top {
                    grid-row: 1/3;
                    grid-column: 1/2;

                    .card-primary__info--comment,
                    .card-primary__info--note,
                    .card-primary__info--dislike {
                        display: none;
                    }
                }

                &__image {
                    height: 100%;
                    width: 100%;
                    padding-bottom: 0;
                }

                &__content {
                    display: grid;
                    grid-template-columns: 1fr max-content;
                    grid-auto-rows: max-content;
                    grid-column-gap: 15px;
                    width: 100%;
                    padding: 24px 24px 0;
                }

                &__text {
                    margin-top: 32px;
                    display: -webkit-box;
                    grid-column: 1/2;
                }

                &__price {
                    margin-top: 0;
                    grid-column: 2/3;
                    grid-row: 1/3;
                    justify-self: end;
                }

                &__mortgage {
                    grid-column: 2/3;
                    grid-row: 3/4;
                }

                &__name {
                    margin-top: 0;
                    grid-column: 1/2;
                    align-self: start;
                }

                &__address {
                    grid-column: 1/2;
                }
                &__bottom {
                    grid-column: 2/3;

                    &._vertical-active {
                        display: flex;
                        align-items: center;

                        .card-primary__info--dislike {
                            margin-left: auto;
                        }

                        .card-primary__info--note {
                            order: -1;
                            margin-top: 0;

                            width: 28px;
                            height: 28px;
                        }

                        .card-primary__info--comment {
                            margin-left: 16px;
                        }

                        .card-primary__info--dislike,
                        .card-primary__info--comment,
                        .card-primary__info--note {
                            border: 1px solid var(--blue);

                            .secondary-tooltip__content {
                                right: 0;
                                left: auto;
                                top: auto;
                                bottom: 36px;
                            }
                        }
                    }

                    .card-primary__info {
                        &--favorite {
                            height: 28px;
                            width: 28px;
                            border: 1px solid var(--gray);
                            border-radius: 8px;
                            margin-left: 24px;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                fill: var(--gray);
                                width: 16px;
                                height: 14px;
                            }
                        }
                    }

                    .card-primary__info--tags {
                        >span {
                            border: 1px solid var(--blue);
                            border-radius: 8px;
                            height: 28px;

                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }

                        .secondary-tooltip {
                            &__btn {
                                border: 1px solid var(--blue);
                                border-radius: 8px;
                                height: 28px;
                            }

                            &__content {
                                bottom: 38px;
                                top: auto;
                            }
                        }
                    }
                }

                &__info {
                    .card-primary__info--favorite {
                        display: none;
                    }

                    .card-primary__info--controls {
                        display: block !important;
                        margin-top: 0;  
                    }
                }

                &__user {
                    margin-right: auto;
                }

            }

            .card-primary--improved {
                .card-primary__user {
                    max-width: max-content;

                    .user-info__img {
                        margin-left: 12px;
                    }

                    .user-info-improved__img {
                        margin-left: 12px;
                    }
                }
            }

            &.cards-list__items {
                grid-template-columns: auto;
            }

            .cards-list__banner {
                height: 185px;
            }

            .card-secondary {
                width: 100%;
                animation-name: fadeTransformX;
                animation-duration: 0.5s;
                &:nth-child(1) {
                    animation-duration: 0.5s;
                }

                &:nth-child(2) {
                    animation-duration: 0.8s;
                }

                &:nth-child(3) {
                    animation-duration: 1.1s;
                }

                &__container {
                    display: grid;
                    grid-template-columns: percent(350, 1148) 1fr;
                    min-height: 355px;
                    max-height: 355px;
                }
                &__top{
                    max-height: 350px;
                }
                &__info {
                    .card-secondary__info--favorite {
                        display: none;
                    }

                    .card-secondary__info--controls {
                        display: block !important;
                        margin-top: 0;
                    }
                }

                &__image {
                    padding-bottom: 0;
                    grid-row: 1/3;
                    grid-column: 1/2;
                }

                &__content {
                    display: grid;
                    grid-template-columns: 59% 1fr 32px;
                    grid-column-gap: 40px;
                    width: 100%;
                  padding: 0 0 0 16px;
                  grid-auto-rows: max-content max-content max-content max-content 1fr;
                }

                &__add-info {
                    margin-top: 0;
                    span{
                        color: var(--primaryTwo);
                    }
                }

                &__prices {
                    &--1 {
                     margin-top: 16px;
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-column: 1/2;
                        grid-column-gap: 32px;

                        grid-auto-flow: column;
                        grid-template-rows: repeat(3,1fr);

                        @media (max-width:$desktop) {
                            width: 100%;
                            grid-template-columns: 1fr;
                        }
                    }

                    &--2 {
                        grid-column: 2/3;
                        grid-row: 1/5;
                        margin-bottom: 0 !important;

                        .card-secondary__price {
                            display: flex;
                            grid-column-gap: 0;

                            &-main {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 5px;
                            }

                            span {
                                color: var(--blue);
                                font-weight: 500;
                                font-size: var(--small-fz);
                                line-height: var(--small-lh);

                                &:not(:last-child) {
                                    margin-right: 3px;
                                }
                            }
                        }
                    }
                }

                &__price {
                    >span{
                        font-size: var(--default-fz);
                        &:nth-child(2){
                            min-width: 40%;
                        }
                    }
                    &-main {
                        display: block;
                    }

                    &-old {
                        display: flex;
                        align-items: center;
                        color: var(--primaryTwo);

                        span {
                            &:nth-child(1) {
                                color: var(--primaryTwo);
                                font-size: var(--default-fz);
                                line-height: var(--default-lh);
                                font-weight: 400;

                                span {
                                    position: relative;

                                    &::before {
                                        content: '';
                                        border-bottom: 1px solid currentColor;
                                        position: absolute;
                                        width: 100%;
                                        height: 50%;
                                        transform: rotate(-5deg);
                                    }
                                }
                            }

                            &:nth-child(2) {
                                margin-left: 5px;
                                padding: 3px 10px;
                                color: var(--green);
                                background: rgba(36, 202, 142, 0.1);
                                border-radius: 8px;
                                font-size: var(--small-fz);
                                line-height: var(--small-lh);
                                font-weight: 400;
                            }
                        }
                    }

                    &-new {

                        span {
                            &:nth-child(1) {}

                            &:nth-child(2) {
                                color: var(--primaryTwo);
                                font-size: var(--very-small-fz);
                                line-height: 1;
                                font-weight: 400;
                            }
                        }
                    }
                }
                &__quantity{
                    grid-column: 2/3;
                    grid-row: 2/3;

                    color: var(--blue);

                    pointer-events: none;
                    margin-top: 11px;
                    font-weight: 500;
                    >span,svg{
                        display: none;
                    }
                }
                &__prices--2{
                    display: block;
                }
                &__actions{
                    grid-row: 1 / 2;
                    grid-column: 3 / 4;
                }
                &__info--tags{
                    margin-top: 16px;
                    margin-bottom: 16px;
                    flex-wrap: wrap;
                    .tag{
                        background-color: var(--primary100) !important;
                    }
                }
                &__options{
                    margin-top: 8px !important;
                    position: static;
                    flex-wrap: wrap;
                    max-width: none;
                }
                &__name {
                    margin-top: 0;
                    grid-column: 1/2;
                    align-self: start;
                    font-size: var(--big-fz);
                    line-height: var(--big-lh);
                }
                .metro-item{
                    &__name,&__time{
                        font-size: var(--default-fz);
                    }

                }

                &__address {
                    grid-column: 1/2;
              font-size: var(--default-fz);
                }
                &__metro{
                    grid-column: 1/2;
                    margin-bottom: 0;
                }
                &__user {
                    margin-right: auto;
                }
                &__options {
                    align-self: start;
                    margin-top: 0;
                    grid-row: 3/4;
                    grid-column: 2/3;
                }

                &__bottom {
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    grid-column: 1/-1;
                    align-self: end;
                    grid-row-end: 16;
                    .card-secondary__info {
                        &--favorite {
                            height: 28px;
                            width: 28px;
                            border: 1px solid var(--gray);
                            border-radius: 8px;
                            margin-left: 24px;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                fill: var(--gray);
                                width: 16px;
                                height: 14px;
                            }
                        }
                    }

                    .card-secondary__info--tags {
                        >span {
                            border: 1px solid var(--blue);
                            border-radius: 8px;
                            height: 28px;

                            &:not(:first-child) {
                                margin-left: 10px;
                            }
                        }

                        .secondary-tooltip {
                            &__btn {
                                border: 1px solid var(--blue);
                                border-radius: 8px;
                                height: 28px;
                            }
                        }
                    }
                }
            }

            .card-secondary-skeleton {
                min-height: 350px;

                &__container {
                    display: grid;
                    grid-template-columns: percent(315, 1016) 1fr;
                }

                &__content {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 25%;
                    grid-template-rows: repeat(5, max-content) 1fr;
                    grid-column-gap: 15px;
                    padding: 24px 24px 16px;

                    .col-2 {
                        grid-template-columns: repeat(2, 1fr);
                        grid-column-gap: 24px;
                        grid-row-gap: 8px;

                        .web-skeleton {
                            width: 100%;
                        }
                    }

                    >.web-skeleton {

                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            grid-column: 1/2;
                        }
                    }

                    >.col-2 {
                        grid-column: 1/2;
                    }

                    >.col {
                        display: block;
                    }
                }

                &__bottom {
                    width: 100%;
                    margin-top: auto;

                    display: grid;
                    grid-template-columns: 40px 1fr;
                    grid-column-gap: 12px;
                    grid-row-gap: 2px;
                    grid-column: 1/3;
                    align-items: end;
                }
            }

        }

        &__content--horizontal {
            .card-primary,
            .card-secondary {
                animation-name: fadeTransformY;
                animation-duration: 0.5s;

                &:nth-child(1) {
                    animation-duration: 0.5s;
                }

                &:nth-child(2) {
                    animation-duration: 0.8s;
                }

                &:nth-child(3) {
                    animation-duration: 1.1s;
                }
            }

            .card-primary {
                &__copies-btn {
                    display: none;
                }

                &__copies {
                    display: none;
                }
            }

            .card-secondary {
                &__copies-btn {
                    display: none;
                }

                &__copies {
                    display: none;
                }
                &__add-info {
                    span:nth-child(1) {
                        font-size: var(--small-fz);
                    }

                    span:nth-child(2) {
                        font-size: var(--small-fz);
                    }
                }

                &__address {
                    font-size: var(--small-fz);
                }

                .card-secondary__prices--1 {
                    margin-bottom: 24px;
                }

                .card-secondary__prices--2 {
                    .card-secondary__price {
                        >span {
                            font-size: var(--small-fz);
                        }
                    }
                }
            }

        }

        &__content--horizontal-map {
            .card-secondary {
                &__container {
                    grid-template-columns: minmax(315px, 45%) 1fr;
                }

                &__content {
                    grid-template-columns: 1fr;
                }

                &__prices--1 {
                    grid-template-columns: 1fr;

                    >div {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }

                &__prices--2 {
                    grid-column: auto;
                    grid-row: auto;
                }

                &__price-main {
                    align-items: start !important;
                }
            }
        }
    }
}
