.develop-inner {
    .bid-user {
        &__avatar {
            --size: 95px;

            @media (max-width:$smallTablet-max) {
                --size: 57px;
            }
        }

        &__name {
            @media (max-width:$smallTablet-max) {
                margin-top: 0;
            }
        }

        &__btns {
            margin-top: 0;

            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__time {
            @media (max-width:$smallTablet-max) {
                margin: 5px 0 0 0;
            }
        }

        &__quantity {
            @media (max-width:$desktop) {
                margin-top: 8px;
            }
        }

        &__content {
            margin: 20px 0 0 0;
            align-self: center;
        }

        &__btns {
            @media (max-width:$smallTablet-max) {
                margin-top: 16px;
            }
        }

        &__btn {
            width: 100%;
            margin: 0;

            &--online-display {
                margin-top: 0;
                grid-column: 1/-1;

                svg {
                    fill: none;
                    stroke: var(--white);
                    stroke-width: 1.5px;
                }
            }

            &--call {
                padding: 0 11px;
            }

            &--message {
                padding: 0 16px;
            }

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        @media (min-width:$desktop-min) {
            &._sticky {
                top: calc(var(--header-fixed-height) + 16px);
            }
        }

        @media (max-width:$desktop) {
            padding: 16px;
            margin-top: 16px;
        }
    }
    .object-body{
        padding-bottom: 16px;
    }
    .object-data {
        margin-top: 0;

        &__name {
            margin-top: 0 !important;
        }

        .row {
            &:not(:first-child) {
                margin-top: 24px;
            }
        }

        &__price {
            margin-top: 0;
        }

        &__mortgage {
            margin-top: 8px;
        }
    }

    --more {
        margin-bottom: 0;
    }

    .object-plate-bottom {

        &__btn {}

        @media (max-width:$mobile-max) {
            grid-template-columns: 1fr;
            grid-row-gap: 16px;
            height: auto;
            padding: 16px;
        }
    }

    .object-body__location {
        margin-top: 0;
    }

    .tabs-primary {
        &__container {
            @media (max-width:$desktop) {
                margin-top: 32px;
            }
        }
    }

    .object-filter {
        @media (max-width:$desktop) {
            box-shadow: none;
        }

        &__layouts {
            margin-top: 16px;

            @media (max-width:$desktop) {
                padding: 0 16px;
            }
        }

        &__tabs {
            padding-bottom: 0;
        }
    }

    .filter {
        &__item {
            @media (min-width:$desktop-min) {
                animation-name: fade;
                animation-duration: 0.6s;
            }
        }
    }

    .object-body__sidebar {
        @media (max-width:$desktop) {
            display: none;
        }
    }

    .object-body__stock {
        margin-top: 0;
    }

    .card-secondary {
        &__bottom {
            border-top: 1px solid var(--primary100);
            display: flex;
            width: calc(100% + 35px);
            padding-top: 16px;
            margin-top: 16px;
            margin-left: -24px;
            padding-left: 24px;
        }

        .card-secondary__info--mobile {
            display: none;
        }

        .card-secondary__info--controls {
            display: none;
        }

        &__prices--1 {
            margin-bottom: 10px;
        }

        &__prices--2 {
            margin-top: 0;
            margin-bottom: 24px;
        }
    }

    .object-banner-info {
    }

    .block-stock {
        .video-card {

            &__title {
                max-height: 40px;
            }
        }
    }

    &.develop-inner-kitchen{
        .object-data {
            .row {
                align-items: center;
                flex-direction: row;
            }
            .object-data__price-new{
                span{
                    &:nth-child(2){
                            font-weight: 500;
                            font-size: var(--big-fz);
                            line-height: var(--big-lh);
                            color: var(--dark);
                    }
                }
            }
        }
    }
}
