.faq-block {
    &__title {
    }

    &__tags {
        margin-top: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    }

    &__spollers {
        margin-top: 24px;
        .spollers {

            &__item {
                background-color: var(--white);
                box-shadow: var(--shadow-primary);
                border-radius: 12px;
                &:not(:last-child){
                    margin-bottom: 16px;
                }
            }
        
            &__title {
                padding: 24px;
                display: flex;
                align-items: center;
                gap: 8px;
                width: 100%;
                svg{
                    width: 30px;
                    height: 25px;
                    fill: var(--gray);
                    transition: transform 0.2s ease-in-out;
                }
            }
        
            &__body {
                padding: 0 24px 24px;
            }
        }
    }

    &__link {
        display: block;
        width: max-content;
        &:not(:last-child){
            margin-bottom: 12px;
        }
    }
}
