.faq{
    
    &__programs {
        margin-top: 24px;
    }
    .documents-block{
        margin-top: 32px;

        padding: 32px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;
    }
    .popular-instructions{
        margin-top: 32px;

        padding: 32px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;

        .swiper{
            padding: 16px;
            margin: 0 -16px;
        }
    }
    .faq-block{
        margin-top: 32px;
    }

    .home-top{
        margin-top: 12px;
    }

}

.faq-banner {

    display: flex;
  align-items: start;
  justify-content: space-between;
    gap: 32px;
    &__image {
        border-radius: 12px;
        overflow: hidden;
        img{
            max-height: 300px;
        }
    }

    &__content {
    }

    &__title {
    }

    &__filter {
        margin-top: 24px;

    }
    &__field{
        &:not(:last-child){
            margin-bottom: 12px;
        }
    }
    
}

.faq-cards{
    padding: 32px;
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    border-radius: 12px;
}