.favorites {
    &__empty {
        padding: 48px 0;

        @media (max-width:$desktop) {
            padding: 48px 16px;
        }
    }

    &__subtitle {
        margin-bottom: 8px;
    }

    &__tabs {
        margin-top: 32px;
    }

    &__tab {
        &--client {
            display: flex;
            align-items: center;
        }
    }

    &__client-wrapper {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    @media (max-width:$desktop) {
        background-color: var(--stand-bg);
        padding: calc(var(--header-height) + 24px) 0 0;
    }
}


.favorites-empty {

    &__title {}

    &__text {
        margin-top: 16px;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--primaryTwo);

        svg {
            width: 16px;
            height: 16px;
            fill: var(--red);
            margin: 0 3px;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    &__btn {
        margin-top: 32px;
        max-width: 320px;
    }
}
