.header:not(.header--test) {
    position: relative;
    z-index: 100;
    .header {
        &__main {
            position: relative;
            height: 65px;
            background-color: var(--white);
            // box-shadow: 0 2px 4px 0 #00000012;
            position: relative;
            z-index: 99;

            @media (max-width: $desktop) {
                box-shadow: none;
                height: 50px;
                border-bottom: 1px solid var(--primary100);
            }
        }
    }
    @media (max-width: $desktop) {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }

    .header-top__city {
        @media (max-width: $desktop) {
            display: none;
        }
    }

    &.header--menu {
        .header-personal__title {
            margin-left: 32px;
        }
    }
    &.header--new {
        .header-top {
            &__city {
                margin-left: -16px;
            }
            &__actions {
                margin-right: 32px;
                margin-left: auto;
            }
        }
        .header-main {
            height: 55px;
            .nav__list {
                margin-left: 32px;
            }
            .nav__link {
                font-size: var(--default-fz);
            }
            @media (max-width: $desktop) {
                height: auto;
                .header-main__logo {
                    display: none;
                }
            }
        }
        .header-personal__name,
        .header-action__name,
        .city__name {
            font-size: var(--default-fz);
        }
        .city__title svg {
            width: 12px;
            height: 14px;
        }
        .header-personal__title svg {
            width: 14px;
            height: 14px;
        }
        .header-action__title svg {
            width: 14px;
            height: 14px;
        }
    }
    .header-top {
        height: 50px;
        background-color: var(--white);

        &__container {
            display: flex;
            align-items: center;
            height: 100%;
        }

        &__city {
            margin-left: auto;

            @media (max-width: $desktop) {
                margin-top: 24px;
                padding: 0 16px;
                margin-left: 0;

                svg {
                    margin-right: 16px;
                }
            }
        }

        &__actions {
            display: flex;
            align-items: center;
            margin-left: 16px;
            height: 100%;
        }

        &__action {
            display: flex;
            align-items: center;
            height: 100%;
            width: auto;
            .secondary-tooltip__content {
                max-width: 200;
                width: max-content;
            }
        }

        &__personal {
        }

        &__authorization {
        }

        @media (max-width: $desktop) {
            background-color: var(--white);
            box-shadow: none;
            position: relative;
            z-index: 98;
            height: 50px;
        }
    }

    .header-action {
        &--add {
            @media (min-width: $desktop-min) {
                &:hover {
                    .header-action__title {
                        color: var(--blue);
                    }
                }
            }

            @media (max-width: $desktop) {
                .header-action__title {
                    width: 22px;
                    height: 22px;
                    justify-content: center;
                }
            }
        }

        &--calendar {
            @media (max-width: $desktop) {
                display: none;
            }
        }

        &--cashback {
            @media (max-width: $desktop) {
                display: none;
            }
        }
        &--add {
            @media (max-width: $desktop) {
                display: none;
            }
        }

        &--chat {
            .header-action__title {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &--favorite {
            .header-action__title {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }

            .secondary-tooltip__content {
                min-width: max-content;
            }
        }

        &__title {
            color: var(--primaryTwo);
            display: flex;
            align-items: center;
            position: relative;
            transition: color $transitionSpeed $transitionFunction,
                background-color $transitionSpeed $transitionFunction;
            height: 100%;
            padding: 0 16px;
            width: max-content;
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);
            font-weight: 500;
            svg {
                width: 16px;
                height: 16px;
                fill: var(--primaryTwo);
                stroke: none;
            }
            @media (min-width: $desktop-min) {
                &:hover {
                    background-color: var(--primary100);
                    color: var(--blue);
                }
            }
        }

        &__name {
            margin-left: 10px;

            @media (max-width: $desktop) {
                display: none;
            }
        }

        &__quantity {
            height: 16px;
            min-width: 16px;
            padding: 0 5px;
            color: var(--blue);
            background-color: var(--white);

            backdrop-filter: blur(2px);
            border-radius: 50%;

            position: absolute;
            bottom: 8px;
            right: -10px;

            font-size: var(--very-small-fz);
            line-height: var(--very-small-lh);
            line-height: 1;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .header-personal {
        display: flex;
        align-items: center;
        height: 100%;
        &__title {
            display: flex;
            align-items: center;
            color: var(--dark);
            transition: color $transitionSpeed $transitionFunction,
                background-color $transitionSpeed $transitionFunction;
            padding: 0 16px;
            height: 100%;
            color: var(--primaryTwo);
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);
            svg {
                width: 16px;
                height: 16px;
                fill: var(--primaryTwo);
            }
            @media (max-width: $desktop) {
                padding: 0;
            }
            @media (min-width: $desktop-min) {
                &:hover {
                    background-color: var(--primary100);
                    color: var(--blue);
                }
            }
        }

        &__name {
            white-space: nowrap;
            margin-left: 10px;

            font-weight: 500;

            @media (max-width: $desktop) {
                display: none;
            }
        }
    }

    .header-authorization {
        &__title {
            display: flex;
            align-items: center;
            color: var(--primaryTwo);
            transition: color $transitionSpeed $transitionFunction;

            svg {
                width: 16px;
                height: 16px;
                fill: var(--primaryTwo);
            }

            @media (min-width: $desktop-min) {
                &:hover {
                    color: var(--blue);
                }
            }
        }

        &__name {
            white-space: nowrap;
            color: inherit;
            margin-left: 10px;
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);
            font-weight: 500;

            @media (max-width: $desktop) {
                display: none;
            }
        }
    }

    .header-main {
        &__container {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
        }

        &__logo {
            @media (max-width: $desktop) {
                margin-left: 16px;
            }
        }

        &__nav {
            @media (max-width: $desktop) {
                display: flex;
                flex-direction: column;
                position: fixed;
                z-index: 999;
                top: 0;
                left: 0;
                width: 100%;
                min-height: var(--vh);
                height: 100%;
                background-color: var(--white);
                padding: 24px 0;

                overflow-y: auto;
                pointer-events: none;
                opacity: 0;
                visibility: hidden;

                transition: opacity $transitionSpeed $transitionFunction,
                    visibility $transitionSpeed $transitionFunction;

                &.menu--active {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }

                .nav__list {
                    margin-top: 16px;
                    height: auto;
                    flex-direction: column;
                    align-items: start;
                    padding: 0 16px;
                    margin-left: 0 !important;
                }

                .nav__item {
                    padding: 0;
                    width: 100%;
                         &:not(:last-child){
                            border-bottom: 1px solid rgba(122, 127, 170, 0.2);
                         } 
                }

                .nav__link {
                    width: 100%;
                    padding: 16px 0 16px 0;
                    display: flex;
                    align-items: center;
                }
            }

            .header-top__city {
                display: block;
            }
        }

        &__close {
            align-self: end;
            color: var(--blue);
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            font-weight: 500;
            padding: 0 16px;

            @media (min-width: $desktop) {
                display: none;
            }
        }

        &__title {
            margin-top: 24px;
            padding: 0 16px;
            font-size: var(--little-big-fz);
            line-height: var(--little-big-lh);
            font-weight: 500;
            color: var(--gray);

            @media (min-width: $desktop) {
                display: none;
            }
        }

        &__banners {
            flex: 1 0 auto;
            margin-top: 70px;
            width: 100%;

            &-slide {
                height: 100% !important; // Hack! need to be redefined swiper

                &--1 {
                    padding-left: 16px;
                    margin-left: -16px;
                }

                &--2 {
                    padding-right: 16px;
                    margin-right: -16px;
                }
            }

            @media (min-width: $desktop) {
                display: none;
            }
        }
    }

    .nav {
        height: 100%;

        &__list {
            display: flex;
            align-items: center;
            height: 100%;
        }

        &__item {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 24px;
            cursor: pointer;

            &:last-child {
                padding-right: 0;
            }
            @media (min-width: $desktop-min) {
                &:hover {
                    .nav__link {
                        color: var(--blue);

                        &::before {
                            width: 125%;
                        }
                    }
                }
            }
        }

        &__link {
            color: var(--primaryTwo);
            font-weight: 500;
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);
            transition: color $transitionSpeed $transitionFunction;
            height: 100%;
            position: relative;

            display: flex;
            align-items: center;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 2px;
                background-color: var(--blue);
                transition: width $transitionSpeed $transitionFunction;
            }
            &-arrow {
                width: 12px;
                height: 12px;
                fill: var(--blue);
                margin-left: auto;

                @media (min-width: $desktop) {
                    display: none;
                }
            }
            @media (max-width:$desktop){
                 color: var(--dark);
                 font-weight: 400; 
            }
        }
    }

    .nav-dropdown {
        .nav__link {
            @media (max-width: $desktop) {
                height: auto;

                &._spoller-active {
                    .nav__link-arrow {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &__container {
            @media (min-width: $desktop-min) {
                padding: 12px 0 0;
                height: 100%;
                top: 100%;
                left: 0;
                transform: translateY(20px);
                width: 100%;
                min-height: 260px;
                opacity: 0;
                visibility: hidden;
                transition: opacity $transitionSpeed $transitionFunction,
                    visibility $transitionSpeed $transitionFunction,
                    transform $transitionSpeed $transitionFunction;
                position: absolute;
                z-index: 99;
            }

            @media (max-width: $desktop) {
                padding: 16px 0;
            }
        }

        @media (min-width: $desktop) {
            &._active {
                .nav-dropdown__container {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }

        @media (max-width: $desktop) {
            display: block;
        }
    }

    .nav-dropdown-content {
        display: flex;
        background-color: transparent;
        cursor: default;

        &__card-info {
            --width: calc(40% + 24px);
            margin-left: 12px;
            width: var(--width);
            flex: 0 0 var(--width);
            min-height: 375px;

            @media (max-width: $desktop) {
                margin-right: 0;
                width: auto;
                max-width: none;
                height: 100%;
                min-height: auto;
                width: 100%;
            }
        }

        &__body {
            @media (min-width: $desktop-min) {
                padding: 24px;
                background-color: var(--white);
                flex-grow: 1;
                border-radius: 24px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: max-content max-content max-content;
                grid-gap: 16px;
            }

            @media (max-width: $desktop) {
                display: block;
            }
        }

        &__col {
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            border: 1px solid var(--primary200);
            padding: 24px;
            border-radius: 12px;
            transition: border $transitionSpeed $transitionFunction;
            >span {
                color: var(--dark);
                font-size: var(--default-fz);
                line-height: var(--default-lh);

                &:nth-child(1) {
                    transition: color $transitionSpeed $transitionFunction;
                    @media (min-width:$desktop-min){
                        font-weight: 500; 
                    }
                }

                &:nth-child(2) {
                    color: var(--primaryTwo);

                    @media (max-width:$desktop){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--blue);
                        font-size: var(--small-fz);
                        line-height: 1;
                        font-weight: 500;
                        background-color: var(--primary100);
                        border-radius: 7px;
                        height: 28px;
                        padding: 0 9px;
                         span{
                            display: none;
                         } 
                    }
                }
                @media (max-width:$desktop){
                     color: var(--primaryTwo); 
                }
            }
            &--one {
                img {
                    grid-row: 1/2;
                }
            }
            @media (max-width: $desktop) {
                padding: 16px;
                flex-direction: row;
                justify-content: space-between;
                border: none;
                padding: 0;
                border-radius: 0;
                   &:not(:last-child){
                    margin-bottom: 20px;
                   }
            }

            @media (min-width: $desktop-min) {
                &:hover {
                    border-color: var(--blue);
                }
            }
        }

        @media (max-width: $desktop) {
            flex-direction: column;
            margin: 0;
            max-width: none;
        }
    }
}
.header--test {
    position: relative;
    z-index: 100;

    .header {
        &__search {
            margin: 0 24px;
            flex-grow: 1;
            padding: 0 16px;
            height: 40px;
        }

        &__main {
            position: relative;
            height: 65px;
            background-color: var(--white);
            box-shadow: 0 2px 4px 0 #00000012;
            position: relative;
            z-index: 99;
            transition: box-shadow $transitionSpeed $transitionFunction;

            @media (max-width: $desktop) {
                box-shadow: none;
                height: 50px;
                border-bottom: 1px solid var(--primary100);
            }
        }
    }

    .header-top__city {
        @media (max-width: $desktop) {
            display: none;
        }
    }

    .nav {
        transform: translateY(-10px);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        min-height: calc(
            (var(--vh, 100vh) - var(--header-height, 105px)) / 100 * 95
        );
        height: 100%;
        background-color: var(--white);

        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;

        &._active-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        &__container {
            padding-top: 24px;
            padding-bottom: 24px;

            display: flex;
            height: 100%;
        }

        &__menu {
            min-width: 249px;
            max-width: 249px;
        }

        &__content {
            flex-grow: 1;
            position: relative;
        }

        &__close {
            position: absolute;
            top: 24px;
            right: 0;

            width: 25px;
            height: 25px;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 100%;
                height: 100%;
                fill: var(--blue);
            }
        }
    }

    .nav-menu {
        height: 100%;
        border-right: 1px solid var(--primary200);
        padding-right: 24px;

        &__item {
            &:not(:last-child) {
            }

            > a {
                font-weight: 500;
                padding: 12px 16px;
                width: 100%;
                border-radius: 12px;

                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: background-color $transitionSpeed
                        $transitionFunction,
                    color $transitionSpeed $transitionFunction;

                svg {
                    width: 24px;
                    height: 24px;
                    fill: var(--dark);
                    transition: fill $transitionSpeed $transitionFunction;
                }
            }

            &._active {
                a {
                    background-color: #f5f7fa;
                    color: var(--blue);

                    svg {
                        fill: var(--blue);
                    }
                }
            }
        }
    }

    .nav-content {
        margin-top: 0;
        padding-left: 24px;
        margin-top: -24px;

        &__tags {
            grid-column: 1/-1;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;
            max-width: 80%;

            &:first-child {
                margin-bottom: 10px;
            }
        }

        .chat-lora-btn-second {
            max-width: 80%;
            grid-column: 1/-1;
            margin: 0 0 8px 0;
            background-color: var(--white);
        }

        &__body {
            display: none;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 24px;
            grid-row-gap: 24px;

            &._active {
                display: grid;
            }

            &._one {
                grid-row-gap: 8px;
            }
        }

        &__title {
            grid-column: 1/-1;
        }

        &__item {
        }
    }
    .nav-content-chat {
        grid-column: 1/-1;
    }

    .header-top {
        height: 50px;
        background-color: var(--white);

        &__container {
            display: flex;
            align-items: center;
            height: 100%;
        }

        &__city {
            margin-left: auto;

            @media (max-width: $desktop) {
                margin-top: 24px;
                padding: 0 16px;
                margin-left: 0;

                svg {
                    margin-right: 16px;
                }
            }
        }

        &__actions {
            display: flex;
            align-items: center;
            margin-left: 16px;
        }

        &__action {
            &:not(:last-child) {
                margin-right: 24px;

                @media (max-width: $desktop) {
                    margin-right: 24px;
                }
            }
        }

        &__personal {
        }

        &__authorization {
        }

        @media (max-width: $desktop) {
            background-color: var(--white);
            box-shadow: none;
            position: relative;
            z-index: 98;
            height: 50px;
        }
    }

    .header-action {
        &--add {
            @media (min-width: $desktop-min) {
                &:hover {
                    .header-action__title {
                        color: var(--blue);
                    }
                }
            }

            @media (max-width: $desktop) {
                .header-action__title {
                    width: 22px;
                    height: 22px;
                    justify-content: center;
                }
            }
        }

        &--calendar,
        &--chat,
        &--personal {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            font-size: var(--small-fz);
            color: var(--primaryTwo);

            svg {
                width: 16px;
                height: 16px;
                fill: var(--primaryTwo);
                margin-bottom: 6px;
            }
        }

        &--calendar {
            @media (max-width: $desktop) {
                display: none;
            }
        }

        &__title {
            color: var(--primaryTwo);
            display: flex;
            align-items: center;
            position: relative;
            transition: color $transitionSpeed $transitionFunction;

            svg {
                width: 16px;
                height: 16px;
                fill: var(--primaryTwo);
                stroke: none;
            }
        }

        &__name {
            margin-left: 10px;
            font-size: var(--default-fz);
            line-height: var(--little-small-lh);
            color: var(--primaryTwo);
            font-weight: 500;
            transition: color $transitionSpeed $transitionFunction;

            @media (min-width: $desktop-min) {
                &:hover {
                    color: var(--blue);
                }
            }

            @media (max-width: $desktop) {
                display: none;
            }
        }

        &__quantity {
            height: 16px;
            min-width: 16px;
            padding: 0 5px;
            color: var(--blue);
            background-color: var(--white);

            backdrop-filter: blur(2px);
            border-radius: 50%;

            position: absolute;
            bottom: 8px;
            right: -10px;

            font-size: var(--very-small-fz);
            line-height: var(--very-small-lh);
            line-height: 1;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .header-main {
        &__container {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
        }

        &__logo {
            @media (max-width: $desktop) {
                margin-left: 16px;
            }
        }

        &__menu {
            margin-left: 32px;
            height: 40px;
            padding: 0 32px;
            font-size: var(--default-fz);

            svg {
                pointer-events: none;
            }

            span {
                pointer-events: none;
                margin-left: 8px;
            }
        }

        &__nav {
            @media (max-width: $desktop) {
                display: flex;
                flex-direction: column;
                position: fixed;
                z-index: 999;
                top: 0;
                left: 0;
                width: 100%;
                min-height: var(--vh);
                height: 100%;
                background-color: var(--white);
                padding: 24px 0;

                overflow-y: auto;
                pointer-events: none;
                opacity: 0;
                visibility: hidden;

                transition: opacity $transitionSpeed $transitionFunction,
                    visibility $transitionSpeed $transitionFunction;

                &.menu--active {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }

                .nav__list {
                    margin-top: 16px;
                    height: auto;
                    flex-direction: column;
                    align-items: start;
                    padding: 0 16px;
                }

                .nav__item {
                    padding: 0;
                    width: 100%;
                }

                .nav__link {
                    width: 100%;
                    padding: 16px 0 16px 0;
                    display: flex;
                    align-items: center;
                }
            }

            .header-top__city {
                display: block;
            }
        }

        &__close {
            align-self: end;
            color: var(--blue);
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            font-weight: 500;
            padding: 0 16px;

            @media (min-width: $desktop) {
                display: none;
            }
        }

        &__title {
            margin-top: 24px;
            padding: 0 16px;
            font-size: var(--little-big-fz);
            line-height: var(--little-big-lh);
            font-weight: 500;
            color: var(--gray);

            @media (min-width: $desktop) {
                display: none;
            }
        }

        &__banners {
            flex: 1 0 auto;
            margin-top: 70px;
            width: 100%;

            &-slide {
                height: 100% !important; // Hack! need to be redefined swiper

                &--1 {
                    padding-left: 16px;
                    margin-left: -16px;
                }

                &--2 {
                    padding-right: 16px;
                    margin-right: -16px;
                }
            }

            @media (min-width: $desktop) {
                display: none;
            }
        }
    }

    &.header--menu {
        .header-personal__title {
            margin-left: 32px;
        }
    }

    &.header--new {
        .header-top {
            &__city {
                margin-left: 0;
            }

            &__actions {
                margin-left: auto;
            }
        }

        .header-main {
            height: 55px;

            .nav__list {
                margin-left: 32px;
            }

            .nav__link {
                font-size: var(--default-fz);
            }

            @media (max-width: $desktop) {
                height: auto;

                .header-main__logo {
                    display: none;
                }
            }
        }

        .header-personal__name,
        .header-action__name,
        .city__name {
            font-size: var(--default-fz);
        }

        .city__title svg {
            width: 12px;
            height: 14px;
        }

        .header-personal__title svg {
            width: 14px;
            height: 14px;
        }

        .header-action__title svg {
            width: 14px;
            height: 14px;
        }
    }

    &.header--fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        transition: transform $transitionSpeed $transitionFunction;
    }

    &._hide-top {
        transform: translateY(-50px);

        &._active {
            transform: translateY(-105px);
        }
    }

    &.header--menu-active {
        .header-main {
            box-shadow: none;
        }
    }

    @media (max-width: $desktop) {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }
}
