.mortgage {
    .top-page-inner-title {
        &__container {
            grid-row-gap: 8px;
        }

        &__title {
            grid-row: 1/2;
        }

        &__descr {
            grid-row: 2/3;
        }
    }

    .bid__container {
        grid-template-columns: 1fr percent(300, 1112);
    }

    .object-calc-mort {
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        padding: 0;

        &__list {}

        &__wrapper {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid rgba(122, 127, 170, 0.2);
            align-items: start;
        }

        &__info {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid rgba(122, 127, 170, 0.2);
            justify-content: space-between;
            display: flex;
            align-items: center;

            >span {
                margin: 0;
                color: var(--primaryTwo);
                font-weight: 400;
                font-size: var(--default-fz);
                line-height: var(--default-lh);
                text-align: left;

                &:not(:last-child) {
                    margin-right: 16px;
                }

                >span {
                    display: block;
                    margin-top: 10px;
                    font-weight: 500;
                    color: var(--dark);
                    margin: 0;
                    font-size: var(--default-fz);
                    line-height: var(--default-lh);
                }
            }
        }

        &__wrapper {
            &:first-child {
                margin: 0;
                padding: 0;
                border-top: none;
            }
        }

        &__bottom {
            grid-template-columns: max-content;
            justify-content: end;
            display: grid;
        }

        &__app {
            margin-top: 32px;
            padding: 0 56px;
            width: auto;

            svg {
                stroke: var(--white);
                stroke-width: 1.5px;
                fill: none;
            }
        }

        &__contribution {
            position: relative;
            margin-bottom: 64px;

            .toggle-checkbox {
                position: absolute;
                top: calc(100% + 32px);
                left: 0;
                width: max-content;
            }

            .checkbox-secondary {
                position: absolute;
                left: 0;
                top: calc(100% + 65px);
                width: max-content;
            }
        }

        &__capital {}

        &__term {}

        .input-text {
            &._clear-btn {
                .input-text__label {
                    grid-template-columns: max-content 1fr max-content 16px;
                }
            }
        }
    }

    &__suitable {
        margin-top: 24px;
    }
}

.mortgage-suitable {
    min-width: 0;

    &__container {
        &:not(:first-child) {
            margin-top: 32px;
        }
    }

    &__list {
        margin-top: 16px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &._load {}
}

.mortgage-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

    z-index: 101;

    background-color: var(--blue);
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
    padding: 12px 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    &__info {
        color: var(--white);
        display: flex;
        align-items: center;

        >span {
            margin-left: 16px;
        }
    }

    &__images {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: 40px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    &__btn{
        background-color: var(--white);
        color: var(--blue);
        width: 270px;
        margin-right: 16px;
        @media (min-width:$desktop-min){
             &:hover{
                background-color: var(--white);
                box-shadow: var(--shadow-primary);
             } 
        }
    }
}
