.mortgage-insur{
    &__table{
        margin-top: 32px;
        .main-table{
            padding: 0;
            border-radius: 0;
            .main-table__type {
                grid-template-columns: percent(200, 1132) percent(180, 1132) 1fr;
                grid-column-gap: 32px;
                margin: 0 24px;
                span{
                    margin: 0;
                }
            }
        }
    }
    &__go{
        margin-top: 32px;
        margin-left: auto;
    }
}