.moving-requests {
    .main-table {
        .moving-card {
            grid-template-columns: percent(165, 1180) percent(450, 1180) 1fr max-content;
            height: auto;
        }

        .main-table__type {
            grid-template-columns: percent(165, 1180) percent(450, 1180) 1fr;
        }
    }
}
