.moving-inner {
    .bid__descr {
        margin-top: 0;
    }
    .submit-app__row-title{
        &:not(:first-child){
            margin-top: 24px;
        }
    }
    .small-card-select{
        &__input{
            cursor: default;
        }
    }
}
