.object-agent {
    .bid-user--grade .bid-user__grade {
        border: none;
        margin-top: 0;
        padding-top: 0;
    }

    @media (min-width:$desktop-min) {
        ._sticky {
            position: sticky;
            top: 16px;
            width: 100%;
        }
    }
}
