.object-removed {
    .object-body {
        &__wrapper {
            margin-top: 0;
        }

        &__data {
            margin-top: 16px;

            @media (max-width:$desktop) {
                margin-top: 8px;
            }
        }
    }
}

.object-removed-block {
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    padding: 32px;
    border-radius: 12px;

    &__descr {
        margin-top: 24px;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--dark);
    }

    @media (max-width:$desktop) {
        padding: 16px 16px 24px;
    }
}
