.objects-base {
    margin-bottom: 32px;

    &__body {
        @media (max-width:$desktop) {
            padding: calc(var(--header-height) + 24px) 0 16px;
            background-color: var(--stand-bg);
            border-radius: 0 0 12px 12px;
        }
    }

    &__title {
        @media (max-width:$desktop) {
            padding: 0 45px 0 $containerOffset+px;
        }
    }

    &__filter {
        margin-top: 32px;

        @media (max-width:$desktop) {
            padding: 0 $containerOffset+px;
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

    &__sort {
        position: relative;
        z-index: 10;

        @media (max-width:$desktop) {
            padding: 0 $containerOffset+px;
            justify-content: center;
        }
    }

    &__cards-list {
        margin-top: 24px;
    }

    &__banners {
        margin-top: 40px;

        @media (max-width:$desktop) {
            margin-top: 16px;
        }
    }

    @media (max-width:$smallTablet-max) {
        margin-bottom: 16px;
    }
}
