.place-sale {
    &__body {
        margin-top: 8px;

        background-color: var(--stand-bg);
        padding: 24px 0;

        @media (max-width:$desktop) {
            margin-top: 0;
            padding: 78px 0 24px;
        }
    }

    &__container {
        border-radius: 16px;

        @media (max-width:$desktop) {
            margin-top: 16px;

            &.container {
                padding: 0;
            }
        }
    }

    &__row {
        padding: 24px;
        background-color: var(--white);

        box-shadow: var(--shadow-primary);
        border-radius: 12px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        @media (max-width:$desktop) {
            padding: 24px 16px;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    &__row-title {
        margin-bottom: 24px;
    }

    &__btn {
        margin-top: 24px;
        padding: 0 81px;
        width: 100%;

        @media (max-width:$desktop) {
            margin-right: 16px;
        }

        @media (max-width:$smallTablet-max) {
            width: calc(100% - 32px);
            margin: 16px auto 0;
            padding: 0 20px;
        }
    }

    @media (max-width:$desktop) {
        background-color: var(--stand-bg);
    }

    .filter__item{
        &:not(:last-child){
            margin-bottom: 40px;
        }
        .field-select,
        .field-dropdown,
        .field-range,.field-input {
            &__name {
                --width: 179px;
            }
        }
    }
}

.place-sale-address {
    display: flex;
    flex-direction: column;

    &__title {}

    &__row-title {}

    &__city {
        .search-select {
            max-width: 450px;
        }
        .row{
            margin-top: 20px;
            display: grid;
            grid-gap: 8px;
            >div{
                margin-top: 0;
            }
        }
    }

    &__select {
        margin-top: 24px;
        max-width: 300px;
    }

    &__text {
        font-weight: 400;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        color: var(--gray);
    }

    &__checkbox {
        margin-top: 24px;
        align-self: start;

        @media (max-width:$desktop) {
            margin-top: 10px;
        }
    }

    &__field {
        margin-top: 20px;
        @media (max-width:$desktop) {
            margin-top: 16px;
        }
    }

    &__map {
        margin-top: 24px;
        height: 550px;
        overflow: hidden;
        @media (max-width:$desktop) {
            margin-top: 16px;
            height: 400px;
        }

        @media (max-width:$mobile-max) {
            height: 296px;
        }
    }
}


.place-sale-options {
    padding: 24px;

    &__title {}

    &__row {
        @media (min-width:$desktop-min) {
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-column-gap: 8px;


            &--1 {
                grid-template-columns: percent(325, 1132) percent(325, 1132) 1fr;
            }

            &--2 {
                grid-template-columns: percent(278, 1132) percent(276.6, 1132) percent(276.6, 1132) percent(276.6, 1132);
            }

            &--3 {
                grid-template-columns: percent(200, 1132) percent(215, 1132) percent(325, 1132) percent(368, 1132);
            }

            &--4 {
                grid-template-columns: percent(375, 1132) percent(370.5, 1132) percent(370.5, 1132);
            }

            &--5 {
                grid-template-columns: percent(429, 1132) percent(429, 1132) 1fr;

                .place-sale-options__item {
                    &:first-child {
                        .choices__list--single {
                            padding: 0 30px 0 140px;
                        }
                    }
                }
            }

            &--6 {
                grid-template-columns: percent(866, 1132) 1fr;
            }
        }

        @media (max-width:$desktop) {
            display: flex;
            flex-direction: column;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        &[hidden] {
            display: none;
        }
    }

    &__more {
        padding: 8px 0;
        color: var(--blue);
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        font-weight: 400;

        display: flex;
        align-items: center;

        transition: color $transitionSpeed $transitionFunction;

        svg {
            width: 20px;
            height: 20px;
            fill: currentColor;
            margin-left: 5px;
            transition: transform $transitionSpeed $transitionFunction;
        }

        @media (min-width:$desktop-min) {
            &:hover {
                color: var(--blue-dark);
            }
        }
    }

    &__item {
        @media (max-width:$desktop) {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    &._active {
        .place-sale-options {
            &__more {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    @media (max-width:$desktop) {
        padding: 24px 16px 8px 16px;
    }
}

.place-sale-descr {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 0;
    }

    &__btns {
        margin-top: -10px;
        display: flex;
        align-items: center;
        align-self: end;

        @media (max-width:$smallTablet-max) {
            display: none;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        color: var(--blue);
        transition: color $transitionSpeed $transitionFunction;

        svg {
            width: 12px;
            height: 12px;
            fill: currentColor;
            margin-right: 8px;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }

        @media (min-width:$desktop-min) {
            &:hover {
                color: var(--blue-dark);
            }
        }
    }

    &__textarea {
        margin-top: 16px;
        --height: 144px;

        @media (max-width:$desktop) {
            margin-top: 24px;
        }
    }
}


.place-sale-price {

    &__top {
        margin-bottom: 24px;
        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            margin-bottom: 24px;
        }
    }

    &__title {
        margin: 0 5px 0 0;
    }

    &__tooltip {
        .secondary-tooltip__content {
            max-width: 395px;
            width: max-content;
            @media (max-width:$smallTablet-max) {
                max-width: 210px;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        @media (max-width:$smallTablet-max) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__input {
        width: 350px;
    }

    &__select {
        width: 265px;
        height: 40px;

        @media (max-width:$smallTablet-max) {
            width: 100%;
            height: 54px;
        }
    }
}

.place-sale-video{
    &__descr{
        color: var(--primaryTwo);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 400;
        margin-bottom: 16px;
    }
}
.place-sale-videoshow {

    &__top {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        @media (max-width:$desktop) {
            margin-bottom: 24px;
        }
    }

    &__title {
        margin: 0 5px 0 0;
    }

    &__tooltip {
        .secondary-tooltip__content {
            width: 395px;

            @media (max-width:$smallTablet-max) {
                width: 210px;
            }
        }
    }

    &__checkbox {
        .checkbox-secondary__label {
            justify-content: start;
            display: flex;
        }
    }
}



.place-sale-photo {

    &__title {}

    &__descr {
        color: var(--primaryTwo);
        font-size: var(--default-fz);
        line-height: var(--default-lh);
        font-weight: 400;
        margin-bottom: 16px;
    }

    &__wrapper {
        width: 100%;

        @media (max-width:$desktop) {
            margin-top: 10px;
        }
    }

    &__images {
        display: grid;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-columns: repeat(auto-fill, 271px);
    }

    &__image {
        border-radius: 12px;
        padding-bottom: percent(190, 271);
        overflow: hidden;
        &.drag-drop__item {
            position: relative;
            cursor: pointer;
            transition: opacity $transitionSpeedFast $transitionFunction,
                transform $transitionSpeedFast $transitionFunction;

            &::before {
                content: '';
                position: absolute;
                background-color: rgba(36, 38, 41, .5);
                z-index: 1;
                inset: 0;
                opacity: 0;
                transition: opacity $transitionSpeedFast $transitionFunction;
            }

            @media (min-width:$desktop-min) {
                &:not(._dragg) {
                    &:hover {
                        &::before {
                            opacity: 1;
                        }

                        .place-sale-photo__remove,
                        .place-sale-photo__rotate,
                        .place-sale-photo__icon {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            &._dragg {
                opacity: 0.4;

                &::before {
                    display: none;
                }

                .place-sale-photo__icon,
                .place-sale-photo__rotate,
                .place-sale-photo__remove {
                    display: none;
                }
            }

            &._over {
                transform: scale(1.075, 1.075);
            }
        }
    }

    &__icon {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 32px;
        height: 32px;
        z-index: 2;
        background-color: var(--white);
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        visibility: hidden;

        transition: opacity $transitionSpeedFast $transitionFunction,
            visibility $transitionSpeedFast $transitionFunction;

        svg {
            width: 17px;
            height: 17px;
            fill: var(--blue);
        }
    }

    &__remove {
        position: absolute;
        top: 10px;
        right: 10px;

        width: 32px;
        height: 32px;
        z-index: 2;
        background-color: var(--white);
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        visibility: hidden;

        transition: opacity $transitionSpeedFast $transitionFunction,
            visibility $transitionSpeedFast $transitionFunction;

        svg {
            width: 17px;
            height: 17px;
            fill: var(--red);
        }
    }

    &__rotate {
        position: absolute;

        width: 32px;
        height: 32px;
        z-index: 2;
        background-color: var(--white);
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        visibility: hidden;

        transition: opacity $transitionSpeedFast $transitionFunction,
            visibility $transitionSpeedFast $transitionFunction;

        svg {
            width: 17px;
            height: 17px;
            fill: var(--dark);
        }

        &--1 {
            bottom: 10px;
            left: 10px;
        }

        &--2 {
            bottom: 10px;
            right: 10px;
        }
    }
}


.place-present {

    &__checkboxes {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
        .checkbox-secondary {
            &__label {
            justify-content: start;

            }
        }
    }
    &__summ{
        display: grid;
        grid-template-columns: 35%;
        grid-gap: 8px;
    }
    &__quantity{
        display: grid;
        grid-template-columns: 35% 35%;
        grid-gap: 8px;
    }
    .card-checkbox--second{
        .card-checkbox__remove{
            position: absolute;
            top: 10px;
            right: 10px;
    
            width: 26px;
            height: 26px;
            z-index: 2;
            background-color: var(--white);
            border-radius: 8px;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            opacity: 0;
            visibility: hidden;
    
            transition: opacity $transitionSpeedFast $transitionFunction,
                visibility $transitionSpeedFast $transitionFunction;
    
            svg {
                width: 17px;
                height: 17px;
                fill: var(--red);
            }
        }
        @media (min-width:$desktop-min){
             &:hover{
                .card-checkbox__remove{
                    opacity: 1;
                    visibility: visible;
                }
             } 
        }
    }
}


.place-sale-additionally{
    .card-checkbox{
        .card-checkbox__price{
            >span:nth-child(1){
                &::before{
                    content: none;
                }
            }
        }
    }
    .additionally-calc{
        max-height: 284px;
        margin-top: 0;
        border: 1px solid var(--primary200);
        padding: 17px;
        border-radius: 12px;
        &__title{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__list{
            margin-top: 16px;
            max-height: 246px;
            .user-info__name{
                font-weight: 500;
            }
            .card-checkbox{
                &:not(:last-child){
                    margin-bottom: 12px;
                    padding-bottom: 12px;
                    border-bottom: 1px solid var(--primary100);
                }
            }
        }
    }
}