.popular-instructions{
    &__title{
        margin-bottom: 16px;
    }
    &__subtitle{
        margin-bottom: 16px;
    }
    &__slider{
        position: relative;
    }
    .nav-arrow-primary{
       &--prev{
        left: -8px;
        transform: translateY(-50%) translateX(-100%);
       }
       &--next{
        right: -8px;
        transform: translateY(-50%) translateX(100%);
       }
    }
}