.purchase-request {
    &__share {
        @media (max-width: $desktop) {
            order: 2;
        }
    }

    &__complain {
        margin-left: 2px;

        @media (max-width: $desktop) {
            order: 1;
            margin-left: 0;
            margin-right: 24px;
        }
    }

    >.purchase-request__body {
        @media (max-width: $desktop) {
            padding: 72px 0 0 0;
            margin-top: 0;

            .purchase-request__title {
                display: block;
            }
        }
    }

    &__suggested-objects {
        grid-column: 1/-1;
        margin-top: 12px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;
        padding: 32px;
        .list-empty {
            padding: 24px 0 32px;
        }
        .tabs-primary {
            &__title{
                @media (max-width:$desktop){
                     padding: 0; 
                }
            }
            &__container {
                padding: 0;
                background-color: transparent;
                border-radius: 0;
            }
            &__row-list {
                grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
                @media (max-width:$desktop){
                  
                }
                @media (max-width:$smallTablet-max){
                     grid-template-columns: 100%; 
                }
            }
            &__inner {
                margin-top: 24px;
                @media (max-width:$desktop){
                     margin-top: 0; 
                }
            }
        }
        @media (max-width: $desktop) {
            background-color: var(--white);
            margin-top: 8px;
            padding: 24px 16px;
        }
    }

    &__calendar {
        @media (max-width: $desktop) {
            margin-top: 8px;
            padding: 0;
        }
    }

    &__history {
        margin-top: 24px;
        padding: 24px;
        border-radius: 12px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);

        &-title {
            margin-bottom: 16px;
            text-align: center;
        }

        .btn {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        @media (max-width: $desktop) {
            margin-top: 0px;
            padding: 16px;
            grid-column: 1/-1;
        }
    }

    @media (max-width: $desktop) {
        padding-top: 0;
        background-color: var(--stand-bg);

        .bid__container {
            margin-top: 12px;
            padding: 0;
        }

        .tabs-primary {
            &__next {
            }

            &__pagination {
                margin-top: 16px;
            }

            &__controls {
                padding: 0 16px;
            }
        }
    }

    .bid-user {
        &__content {
            margin-top: 24px;

            @media (max-width: $desktop) {
                margin-top: 0;
            }
        }

        &__btn {
            margin-top: 16px;
        }

        @media (max-width: $desktop) {
            grid-column: 1/-1;
        }
    }

    .bid__sidebar {
        @media (min-width: $desktop-min) {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        @media (max-width: $desktop) {
            display: none;
        }
    }
    .bid__body{
        @media (max-width:$desktop){
             order: 0; 
        }
    }
    .bid-maps{
        &__item{
            @media (max-width:$desktop){
                 padding: 0 16px; 
            }
        }
    }

    .bid__messages {
        margin-top: 0;

        @media (min-width: $desktop-min) {
            grid-column: 1/2;
        }
    }

    @media (max-width: $smallTablet-max) {
        .tabs-primary__next {
            width: calc(100% - 32px);
        }
    }
}

.request-calendar {
    background-color: var(--stand-bg);
    grid-column: 1/-1;
    &__container {
    }

    &__body {
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        padding: 24px;
        border-radius: 12px;

        @media (max-width: $desktop) {
          padding: 24px 0;
            box-shadow: none;
        }
    }

    .tabs-primary {
        &__container {
            background-color: transparent;
            padding: 0;
        }

        &__title {
            @media (max-width: $desktop) {
                padding-left: 16px;
            }
        }

        &__inner {
            margin-top: 32px;

            @media (max-width: $smallTablet-max) {
                margin-top: 0;
            }
        }
    }

    .list-empty {
        padding: 24px 0 32px;
    }

    .main-table {
        background-color: transparent;
        padding: 0;

        &__type {
            display: grid;
            grid-template-columns: percent(375, 968) max-content 1fr;
            grid-column-gap: 15px;

            span:last-child {
                margin-left: auto;
                margin-right: 71px;
            }
        }

        &__list {
            @media (max-width: $desktop) {
            }
        }

        &__next {
            @media (max-width: $desktop) {
                margin: 24px 0 0 16px;
                width: calc(100% - 32px);
            }
        }

        &__pagination {
            @media (max-width: $desktop) {
                margin-top: 16px;
            }
        }
    }

    .calendar-primary {
        @media (max-width: $desktop) {
            padding: 0 16px;
        }
    }

    @media (max-width: $desktop) {
        background-color: var(--white);
    }
}
