.repair-apart {   
    background-color: var(--stand-bg);
    padding-bottom: 24px;
    &__banner{
        overflow: visible;
        .main-banner{
            &__title{
                max-width: 300px;
            }
            &__descr{
                max-width: 400px;
            }
        }
    }
    &__content{
        margin-top: 24px;
    }
    &__title{
        margin-bottom: 24px;
    }
    &__descr{
        margin-top: -12px;
        margin-bottom: 24px;
        display: block;
    }
    &__btns{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap: 16px;
    }
    &__btn{
   
    }

    .nav-content-chat{
        margin-bottom: 16px;
        background-color:var(--stand-bg);
        padding: 16px;
        border-radius: 12px;
        .chat-lora-btn-second{
            background-color:var(--white);
        }
        .nav-content__tags{
            margin-top: 8px;
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
    .card-link{
        z-index: 1;
    }
    &__row {
        padding: 24px;
        background-color: var(--white);
        box-shadow: var(--shadow-primary);
        border-radius: 12px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        @media (max-width:$desktop) {
            padding: 16px;
            border-radius: 12px;

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
}
.repair-apart-about{
    &__items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}
.repair-apart-services{
    &__content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        &.col-4{
            grid-template-columns: repeat(4,1fr);
        }
    }
    .card-link{
        &__image{
            padding-bottom: 38%;
        }
    }
}
.repair-apart-footer{
    height: 62px;
    .footer-fixed{
        &__container{
           width: 100%;
           gap: 16px;
           justify-content: center;
           .btn{
            flex-grow: 1;
           }
        }
    }
}



.repair-apart-materials {

    &__items {
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    }
}
