.requests-all{
    .tabs-primary{
        &__container{
            background-color: transparent;
            padding: 0;
            border-radius: 0;
        }
    }
    .main-table{
        margin-top: 0;
        border-radius: 0;
    }
}