.selection-estate-agent {
    .main-table__type{
        grid-template-columns: percent(220, 1180) percent(220, 1180) percent(320, 1180) 1fr;
    }
    .object-info {
        grid-template-columns: percent(220, 1180) percent(220, 1180) percent(320, 1180) max-content 1fr;
    }

    .request-catalog-filter {
        &__row--1 {
            grid-template-columns: percent(350, 1180) 1fr;
        }

        &__row--2 {
            grid-template-columns: percent(300, 1180) percent(278, 1180) percent(260, 1180) percent(318, 1180);
        }

        &__row--3 {
            grid-template-columns: percent(450, 1180) percent(390, 1180) percent(324, 1180);
        }
    }
}
