.shorts-items {
    display: grid;
    grid-template-columns: repeat(6, minmax(120px, 200px));
    grid-column-gap: 16px;
    grid-row-gap: 24px;

    @media (max-width:$desktop) {
        grid-template-columns: repeat(4, minmax(120px, 200px));
    }

    @media (max-width:$smallTablet-max) {
        grid-template-columns: repeat(3, minmax(120px, 200px));
    }

    @media (max-width:$mobile-max) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.shorts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__wrapper {
        margin: 0 auto;
        min-height: 560px;
        min-width: 320px;

        position: relative;

        height: calc(100vh - 100px);
        width: calc(56.25vh - 125px *.5625);

        @media (max-width:$mobile-max) {
            height: calc(var(--vh, 100vh) - 50px);
            width: 100%;
        }
    }

    &__list {
        width: 100%;
        height: 100%;
        max-height: inherit;

        .skeleton {
            @media (max-width:$desktop) {
                border-radius: 0 !important;

                .web-skeleton {
                    border-radius: 0 !important;
                }
            }
        }
    }

    &__item {
        width: 100%;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;
            min-height: inherit;
        }
    }

    &__item-panel {
        width: 100%;
        height: 84%;
        top: 53%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }

    &__nav {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 2px 8px rgba(0, 0, 0, .08);


        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        transform: translateX(100%);
        right: -16px;
        bottom: 0;

        svg {
            width: 19px;
            height: 19px;
        }

        &.swiper-button-disabled {
            opacity: 0.4;
            pointer-events: none;
        }

        @media (max-width:$desktop) {
            display: none;
        }
    }

    &__prev {
        bottom: calc(36px + 8px);

        svg {
            transform: rotate(180deg);
        }
    }

    &__next {
        bottom: 0;

    }

    &__close {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 2px 8px rgba(0, 0, 0, .08);


        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        transform: translateX(100%);
        right: -16px;
        top: 0;

        svg {
            width: 19px;
            height: 19px;
        }

    }
}

.short {
    border-radius: 12px;
    overflow: hidden;
    min-height: 560px;
    height: 100% !important;

    .vjs-big-play-button {
        display: none !important;
    }

    .ytp-pause-overlay-container {
        display: none !important;
    }

    .vjs-fullscreen-control {
        display: none;
    }

    .vjs-picture-in-picture-control {
        display: none;
    }

    .vjs-control-bar {
        background-color: transparent !important;
        display: grid !important;
        grid-template-columns: 40px 40px 1fr;
        grid-template-rows: 45px 5px;
        align-items: end;
        height: 50px !important;
    }

    .vjs-control {
        width: 5em;
    }

    .vjs-button>.vjs-icon-placeholder:before {
        font-size: 2.3em;
        line-height: 1.9;
    }

    .vjs-play-control {
        grid-column: 1/2;
    }

    .vjs-remaining-time {
        display: none;
    }

    .vjs-load-progress {
        background: transparent !important;

        div {
            background: transparent !important;
        }
    }

    .vjs-volume-control {
        top: 5px;
    }

    .vjs-slider {
        background-color: rgba(194, 202, 212, 0.8) !important;
    }

    .vjs-play-progress {
        background-color: #3272eb !important;

        &::before {
            content: none !important;
        }
    }

    .vjs-mouse-display {
        display: none !important;
    }

    .vjs-time-tooltip {
        display: none !important;
    }

    .vjs-progress-control {
        grid-row: 2/3;
        grid-column: 1/-1;
        width: 100% !important;
        height: 5px !important;
        border-radius: 3px;
        pointer-events: none;
        overflow: hidden;
    }

    .vjs-progress-holder {
        height: 5px !important;
        border-radius: 3px;
    }

    @media (max-width:$mobile-max) {
        border-radius: 0;
    }

}

.card-short {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    overflow: hidden;

    &__link {
        padding-bottom: percent(300, 187);
        border-radius: 12px;
        overflow: hidden;
        width: 100%;
        position: relative;
        border-radius: 12px;
        background-color: #F8F8F8;

        img {
            border-radius: 12px;
            transition: transform $transitionSpeed $transitionFunction;
        }

        &::before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            z-index: 1;
            content: "";
            background: linear-gradient(180deg, transparent 60%, rgba(0, 0, 0, .4));
        }
    }

    &__counter {
        display: flex;
        align-items: center;
        font-size: var(--small-fz);
        line-height: var(--small-lh);
        color: var(--white);
        position: absolute;
        bottom: 8px;
        left: 8px;
        z-index: 1;

        svg {
            width: 14px;
            height: 14px;
            fill: var(--white);
            margin-right: 8px;
        }
    }

    &__title {
        color: var(--dark);
        font-size: var(--default-fz);
        font-weight: 500;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span {
            padding: 16px 4px 0 4px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
        }
    }
}
