.tariff-card {


    .selection-estate__controls {
        margin-top: 0;
    }
    .selection-estate__filter{
        margin-top: 0;
    }
    .main-table__type {
        padding: 0 24px;
        grid-column-gap: 32px;

        span {
            &:first-child {
                margin: 0;
            }

            &:not(:first-child) {
                text-align: left;
                margin-left: 20px;
            }
        }
    }

    &__tab {
        &--one {
            .main-table__type {
                grid-template-columns: percent(400, 1180) percent(220, 1180) percent(220, 1180) 1fr;
            }
            .tariff-card-filter__row--1 {
                grid-template-columns: percent(300, 1180) percent(432, 1180) percent(432, 1180);
            }
        
            .tariff-card-filter__row--2 {
                grid-template-columns: percent(740, 1180)
            }
        }

        &--two {
            .main-table__type {
                grid-template-columns: percent(250, 1180) percent(200, 1180) 1fr;
            }
            .tariff-card-filter__row--1 {
                grid-template-columns: percent(300, 1180) 1fr;
            }
        }
    }

    &__table {
     
    }
}
