.wallet {

    &__items {}

    &__item {
        padding: 32px 0;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(122, 127, 170, 0.2);
        }
    }
}

.wallet-balance {
    display: flex;
    align-items: center;

    &__icon {
        width: 45px;
        height: 35px;
        fill: var(--blue);
    }

    &__text {
        margin-left: 24px;

        >span {
            display: block;
            font-weight: 400;
            margin-top: 2px;
        }
    }

    &__title {
        display: block;
    }

    &__label {
        margin-left: 48px;
        width: 100%;
        max-width: 300px;
    }

    &__btn {
        margin-left: 16px;
        height: 45px;
    }
}


.wallet-cards {
    display: flex;
    align-items: center;

    &__icon {
        width: 45px;
        height: 35px;
        fill: var(--blue);
    }

    &__title {
        margin-left: 24px;
    }

    &__add {
        margin-left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--primaryTwo);
        border-radius: 6px;
        width: 32px;
        height: 32px;

        svg {
            width: 14px;
            height: 14px;
            fill: var(--gray);
        }

        @media (min-width:$desktop-min) {
            &:hover {
                background-color: var(--hover-primary);
            }
        }
    }
}
