.ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.ibg-contain{
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
    }
}

._shadow{
    position: relative;
    background-color: #92929262;
    img{
        object-fit: contain;
    }
    &::before{

    }
}

// padding-bottom: percent(height, width);