<header class="header header--new">
    <div class="header__top header-top">
        <div class="header-top__container container">
            <button class="header-top__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger__line"></span>
            </button>
            <div class="header-top__city city" data-da=".header-main__nav,1212,3">
                <button type="button" class="btn btn-reset city__title" data-popup-path="city">
                    <svg>
                        <use xlink:href="img/sprite.svg#location-fill"></use>
                    </svg>
                    <span class="city__name">Краснодар</span>
                    <p class="city__descr">
                        Изменить
                    </p>
                </button>
            </div>
            <div class="header-top__actions">
                <div class="header-top__action header-action header-action--notif secondary-tooltip secondary-tooltip--dark secondary-tooltip--bottom-center">
                    <button type='button' data-popup-path="notif-popup" class="btn btn-reset header-action__title secondary-tooltip__btn">
                        <svg class='tw-w-4 tw-h-4'>
                            <use xlink:href="./img/sprite.svg#notification"></use>
                        </svg>
                        <div class="notif-counter tw-absolute tw-top-[12px] tw-right-[10px]">4</div>
                    </button>
                    <div class="secondary-tooltip__content">
                        Уведомления
                    </div>
                </div>
                <div class="header-top__action header-action header-action--comp secondary-tooltip secondary-tooltip--dark secondary-tooltip--bottom-center">
                    <a href="./buy-apartment-building-favorite.html" class="btn btn-reset header-action__title secondary-tooltip__btn">
                        <svg class='w-16 h-16'>
                            <use xlink:href="./img/sprite.svg#favorite-stroke"></use>
                          </svg>
                    </a>
                    <div class="secondary-tooltip__content">
                        Избранное
                    </div>
                </div>
                <div class="header-top__action header-action header-action--comp secondary-tooltip secondary-tooltip--dark secondary-tooltip--bottom-center">
                    <a href="./comparison.html" class="btn btn-reset header-action__title secondary-tooltip__btn">
                        <svg class='w-16 h-16'>
                            <use xlink:href="./img/sprite.svg#comparison"></use>
                          </svg>
                    </a>
                    <div class="secondary-tooltip__content">
                        Сравнение
                    </div>
                </div>
                <div class="header-top__action header-action header-action--cashback secondary-tooltip secondary-tooltip--dark secondary-tooltip--bottom-center">
                    <a href="./present.html" class="btn btn-reset header-action__title secondary-tooltip__btn">
                        <svg>
                            <use xlink:href="img/sprite.svg#bonus"></use>
                        </svg>
                    </a>
                    <div class="secondary-tooltip__content">
                        Кешбэк и подарки
                    </div>
                </div>
                <div class="header-top__action header-action header-action--calendar secondary-tooltip secondary-tooltip--dark secondary-tooltip--bottom-center">
                    <a href="./calendar.html" class="btn btn-reset header-action__title secondary-tooltip__btn">
                        <svg>
                            <use xlink:href="img/sprite.svg#calendar"></use>
                        </svg>
                    </a>
                    <div class="secondary-tooltip__content">
                        Календарь
                    </div>
                </div>
                <div class="header-top__action header-action header-action--add">
                    <button type="button" data-popup-path="add" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#add"></use>
                        </svg>
                        <span class="header-action__name">
                            Добавить
                        </span>
                    </button>
                </div>
            </div>
            <div class="header-top__personal header-personal">
                <button type="button" class="btn btn-reset header-personal__title" data-popup-path="personal-area-two">
                    <svg>
                        <use xlink:href="img/sprite.svg#door-open"></use>
                    </svg>
                    <span class="header-personal__name">
                        Кабинет
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="header__main header-main">
        <div class="header-main__container container">
            <a href="#" class="header-main__logo logo" data-da=".header-top__container,1212,1">
                <img loading="lazy" src="./img/logo.svg" width="238" height="32" class="logo__img" alt="Продам.Онлайн">
            </a>
            <nav class="header-main__nav nav" data-menu>
                <button type="button" class="btn btn-reset header-main__close">Закрыть</button>
                <div class="header-main__title">Меню</div>
                <ul class="nav__list list-reset" data-spollers="1212,max" data-one-spoller>
                    <li class="nav__item nav-dropdown">
                        <span class="nav__link" data-spoller>
                            Новостройки
                            <svg class="nav__link-arrow">
                                <use xlink:href="img/sprite.svg#arrow-small"></use>
                            </svg>
                        </span>
                        <div class="nav-dropdown__container container">
                            <div class="nav-dropdown-content">
                                <div class="nav-dropdown-content__body">
                                    <a href="#" class="nav-dropdown-content__item">
                                        <span>Жилые комплексы</span>
                                        <span>36 990 предложений</span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item nav-dropdown-content__item--one">
                                        <span>Старт продаж</span>
                                        <span>16 предложений</span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item nav-dropdown-content__item--one">
                                        <span>Каталог застройщиков</span>
                                        <span>15 застройщиков</span>
                                    </a>
                                    <a href="./stock.html" class="nav-dropdown-content__item nav-dropdown-content__item--one">
                                        <span>Скидки и акции</span>
                                    </a>
                                    <a href="./stock-developer.html" class="nav-dropdown-content__item nav-dropdown-content__item--one">
                                        <span>Shorts, видео</span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item nav-dropdown-content__item--one col-span-2">
                                        <span>Добавить заявку на покупку квартиры в новостройке</span>
                                    </a>
                                </div>
                                <a href="#" class="nav-dropdown-content__card-info card-info" data-da=".header-main__banners-slide--1,1212,2">
                                    <span class="card-info__title">
                                        Успейте взять ипотеку
                                        по выгодной ставке
                                    </span>
                                    <div class="card-info__image" style="background-image: url('./img/banner-photo-4.png')">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Вторичка
                        </a>
                    </li>
                    <li class="nav__item nav-dropdown">
                        <span class="nav__link" data-spoller>
                            Дома и участки
                            <svg class="nav__link-arrow">
                                <use xlink:href="img/sprite.svg#arrow-small"></use>
                            </svg>
                        </span>
                        <div class="nav-dropdown__container container">
                            <div class="nav-dropdown-content">
                                <div class="nav-dropdown-content__body">
                                    <a href="#" class="nav-dropdown-content__item nav-dropdown-content__item--one">
                                        <span>Дома, коттеджи, дачи</span>
                                        <span>20 предложений</span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item nav-dropdown-content__item--one">
                                        <span>Участки</span>
                                        <span>20 предложений</span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item nav-dropdown-content__item--one">
                                        <span>Коттеджные поселки</span>
                                        <span>20 предложений</span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item nav-dropdown-content__item--one">
                                        <span>Дома от застройщика</span>
                                        <span>20 предложений</span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item nav-dropdown-content__item--one">
                                        <span>Построить дом</span>
                                        <span>20 предложений</span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item nav-dropdown-content__item--one col-span-2">
                                        <span>Добавить заявку на покупку</span>
                                    </a>
                                </div>
                                <a href="#" class="nav-dropdown-content__card-info card-info" data-da=".header-main__banners-slide--2,1212,2">
                                    <span class="card-info__title">
                                        Успейте взять ипотеку
                                        по выгодной ставке
                                    </span>
                                    <div class="card-info__image" style="background-image: url('./img/banner-photo-4.png')">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Покупка
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="./registry.html" class="nav__link">
                            Реестр проблемных объектов
                        </a>
                    </li>
                </ul>
                <div class="swiper header-main__banners">
                    <div class="swiper-wrapper header-main__banners-container">
                        <div class="swiper-slide header-main__banners-slide header-main__banners-slide--1"></div>
                        <div class="swiper-slide header-main__banners-slide header-main__banners-slide--2"></div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>