<header class="header header--new header--test fix-block">
    <div class="header__top header-top">
        <div class="header-top__container container">
            <button class="header-top__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger__line"></span>
            </button>
            <div class="header-top__city city" data-da=".header .nav__container,1212,3">
                <button type="button" class="btn btn-reset city__title" data-popup-path="city">
                    <svg>
                        <use xlink:href="img/sprite.svg#location-fill"></use>
                    </svg>
                    <span class="city__name">Краснодар</span>
                    <p class="city__descr">
                        Изменить
                    </p>
                </button>
            </div>
            <div class="header-top__actions">
                <div class="header-top__action header-action header-action--add">
                    <button type="button" data-popup-path="add" class="btn btn-reset header-action__title">
                        <svg>
                            <use xlink:href="img/sprite.svg#add"></use>
                        </svg>
                        <span class="header-action__name">
                            Добавить
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main header-main">
        <div class="header-main__container container">
            <a href="#" class="header-main__logo logo" data-da=".header-top__container,1212,1">
                <img loading="lazy" src="./img/logo.svg" width="83" height="25" class="logo__img" alt="Продам.Онлайн">
            </a>
            <button type="button" class="btn btn-reset btn-primary header-main__menu">
                <svg width="24" height="24" viewBox="-3 -7 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                    <path xmlns="http://www.w3.org/2000/svg" d="M0 0H18V2H0V0ZM0 4H18V6H0V4ZM0 8H18V10H0V8Z"></path>
                </svg>
                <span>Меню</span>
            </button>
            <a href="./chat.html" class="btn btn-reset chat-lora-btn-second header__search">
                <span>Нужна помощь? спросите у Лолы</span>
                <picture>
                    <source srcset="./img/lora_face.webp" type="image/webp">
                    <img loading="lazy" src="./img/lora_face.webp" width="28" height="28" alt="Lora">
                </picture>
            </a>
            <div class="header-top__actions">
                <a href="./calendar.html" class="btn btn-reset header-top__action header-action header-action--calendar">
                    <svg>
                        <use xlink:href="img/sprite.svg#calendar"></use>
                    </svg>
                    Календарь
                </a>
                <button type="button" class="btn btn-reset header-top__action header-action header-action--chat">
                    <svg>
                        <use xlink:href="img/sprite.svg#chat"></use>
                    </svg>
                    Чат
                </button>
                <button type="button" class="btn btn-reset header-top__action header-action header-action--personal" data-popup-path="authorization">
                    <svg>
                        <use xlink:href="img/sprite.svg#door-open"></use>
                    </svg>
                    Вход/регистрация
                </button>
            </div>
        </div>
    </div>
    <div class="header__nav nav" data-menu>
        <div class="nav__container container">
            <ul class="nav__menu nav-menu list-reset">
                <li class="nav-menu__item _dropdown" data-nav-dropdown-target="1">
                    <a href="./buy-apartment-building-test.html">
                        <span>Новостройки</span>
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="nav-menu__item _dropdown" data-nav-dropdown-target="2">
                    <a href="#">
                        <span>Покупка</span>
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="nav-menu__item _dropdown" data-nav-dropdown-target="3">
                    <a href="#">
                        <span>Услуги</span>
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="nav-menu__item _dropdown" data-nav-dropdown-target="4">
                    <a href="#">
                        <span>Лента</span>
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="nav-menu__item _dropdown" data-nav-dropdown-target="5">
                    <a href="#">
                        <span>Сервисы</span>
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="nav-menu__item _dropdown" data-nav-dropdown-target="6">
                    <a href="#">
                        <span>Специалисты</span>
                        <svg>
                            <use xlink:href="./img/sprite.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="nav__content nav-content">
                <div class="nav-content__body" data-nav-dropdown-content="1">
                    <div class="nav-content__tags">
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Подбери подходящий ЖК
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Найди хорошую скидку
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Покажи топ продаж
                            </span>
                        </button>
                    </div>
                    <h3 class="nav-content__title title-3">Новостройки</h3>
                    <a href="./buy-apartment-building-test.html" class="nav-content__item service-card-second">
                        <span>Жилые комплексы</span>
                        <img loading="lazy" src="./img/calc-mortgage.svg" alt="Ипотека">
                    </a>
                </div>
                <div class="nav-content__body" data-nav-dropdown-content="2">
                    <div class="nav-content__tags">
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Найди покупателя на мой объект
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Какой сейчас спрос
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Сделай оценку моего объекта
                            </span>
                        </button>
                    </div>
                    <h3 class="nav-content__title title-3">Покупка</h3>
                    <a href="./request-catalog.html" class="nav-content__item service-card-second">
                        <span>Заявки на покупку</span>
                        <img loading="lazy" src="./img/calc-mortgage.svg" alt="Ипотека">
                    </a>
                </div>
                <div class="nav-content__body" data-nav-dropdown-content="3">
                    <div class="nav-content__tags">
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Получи одобрение ипотеки
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Закажи юридическую проверку недвижимости
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                             Сделай оценку недвижимости для ипотеки
                            </span>
                        </button>
                    </div>
                    <h3 class="nav-content__title title-3">Услуги</h3>
                    <a href="./mortgage.html" class="nav-content__item service-card-second">
                        <span>Ипотека</span>
                        <img loading="lazy" src="./img/calc-mortgage.svg" alt="Ипотека">
                    </a>
                    <a href="./mortgage-insur.html" class="nav-content__item service-card-second">
                        <span>Ипотечное страхование</span>
                        <img loading="lazy" src="./img/mortgage-service.svg" alt="Ипотечное страхование">
                    </a>
                    <a href="./prop-val.html" class="nav-content__item service-card-second">
                        <span>Оценка недвижимости для ипотеки</span>
                        <img loading="lazy" src="./img/service-11.png" alt="Оценка недвижимости для ипотеки">
                    </a>
                    <a href="./check-order.html" class="nav-content__item service-card-second">
                        <span>Юридическая проверка</span>
                        <img loading="lazy" src="./img/service-12.png" alt="Юридическая проверка">
                    </a>
                </div>
                <div class="nav-content__body" data-nav-dropdown-content="4">
                    <div class="nav-content__tags">
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Получи одобрение ипотеки
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Закажи юридическую проверку недвижимости
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                             Сделай оценку недвижимости для ипотеки
                            </span>
                        </button>
                    </div>
                    <h3 class="nav-content__title title-3">Лента</h3>
                    <a href="./stock-developer.html" class="nav-content__item service-card-second">
                        <span>Акции</span>
                        <img loading="lazy" src="./img/calc-mortgage.svg" alt="Ипотека">
                    </a>
                    <a href="./stock-developer.html" class="nav-content__item service-card-second">
                        <span>Shorts</span>
                        <img loading="lazy" src="./img/mortgage-service.svg" alt="Ипотечное страхование">
                    </a>
                    <a href="./stock-developer.html" class="nav-content__item service-card-second">
                        <span>Видео</span>
                        <img loading="lazy" src="./img/service-11.png" alt="Оценка недвижимости для ипотеки">
                    </a>
                </div>
                <div class="nav-content__body" data-nav-dropdown-content="5">
                    <div class="nav-content__tags">
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Получи одобрение ипотеки
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                                Закажи юридическую проверку недвижимости
                            </span>
                        </button>
                        <button type="button" class="btn btn-reset tag tag--message">
                            <span>
                             Сделай оценку недвижимости для ипотеки
                            </span>
                        </button>
                    </div>
                    <h3 class="nav-content__title title-3">Сервисы</h3>
                    <a href="./service-moving.html" class="nav-content__item service-card-second">
                        <span>Переезд</span>
                        <img loading="lazy" src="./img/calc-mortgage.svg" alt="Ипотека">
                    </a>
                    <a href="./buy-apartment-building-kitchen.html" class="nav-content__item service-card-second">
                        <span>Кухни</span>
                        <img loading="lazy" src="./img/mortgage-service.svg" alt="Кухни">
                    </a>
                </div>
                <button type="button" class="btn btn-reset nav__close">
                    <svg>
                      <use xlink:href="./img/sprite.svg#x"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
