<header class="header header--menu">
    <div class="header__main header-main">
        <div class="header-main__container container">
            <button class="header-top__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger="">
                <span class="burger__line"></span>
            </button>
            <a href="#" class="header-main__logo logo">
                <img loading="lazy" src="./img/logo.svg" width="83" height="25" class="logo__img"
                alt="Продам.Онлайн">
            </a>
            <nav class="header-main__nav nav" data-menu>
                <button type="button" class="btn btn-reset header-main__close">Закрыть</button>
                <div class="header-main__title">Меню</div>
                <ul class="nav__list list-reset" data-spollers="1212,max" data-one-spoller>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Новостройки
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header-top__city city" data-da=".header-main__nav,1212,3">
                <button type="button" class="btn btn-reset city__title" data-popup-path="city">
                    <svg>
                        <use xlink:href="./img/sprite.svg#location-fill"></use>
                    </svg>
                    <span class="city__name">Краснодар</span>
                    <p class="city__descr">
                        Изменить
                    </p>
                </button>
            </div>
            <div class="header-top__personal header-personal">
                <button type="button" class="btn btn-reset header-personal__title" data-popup-path="personal-area">
                    <svg>
                        <use xlink:href="./img/sprite.svg#door-open"></use>
                    </svg>
                    <span class="header-personal__name">
                        Кабинет
                    </span>
                </button>
            </div>
        </div>
    </div>
</header>
