.checkbox {
    position: relative;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked {
            +.checkbox__label {
                background-color: var(--blue);
                border: 1px solid transparent;

                .checkbox__text {
                    color: var(--white);
                }
            }

           @media (min-width:$desktop-min){
            &:hover {
                +.checkbox__label {
                    background-color: var(--blue);

                    .checkbox__text {
                        color: var(--white);
                    }
                }
            } 
           }
        }

        @media (min-width:$desktop) {
            &:hover {
                +.checkbox__label {
                    border: 1px solid var(--blue);

                    .checkbox__text {
                        color: var(--blue);
                    }
                }
            }

            &.focus-visible {
                +.checkbox__label {
                    border: 1px solid var(--blue);

                    .checkbox__text {
                        color: var(--blue);
                    }
                }
            }
        }
    }

    &__label {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 41px;
        padding: 0 8px;
        background-color: transparent;
        border-radius: 12px;
        transition: background-color $transitionSpeed $transitionFunction,
            border $transitionSpeed $transitionFunction;
        border: 1px solid var(--primary200);
        width: 100%;
    }

    &__text {
        color: var(--gray);
        font-size: var(--default-fz);
        line-height: 1;
        font-weight: 400;
        transition: color $transitionSpeed $transitionFunction;
    }
}



.checkbox-secondary {
    position: relative;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &.focus-visible {
            +.checkbox-secondary__label {
                &::before {
                    background-color: var(--primary300);
                    border: 2px solid var(--primary400);
                }
            }
        }

        @media (min-width:$desktop-min) {
            &:hover {
                &:not(:checked) {
                    +.checkbox-secondary__label {
                        &::before {
                            border: 2px solid var(--primary200);
                        }

                        &::after {
                            opacity: 1;
                            visibility: visible;
                            filter: opacity(0.3) drop-shadow(0 0 0 rgb(0, 108, 238));
                        }
                    }
                }
            }
        }

        &:checked {
            +.checkbox-secondary__label {
                &::before {
                    background-color: var(--blue);
                    border: 2px solid var(--blue);
                }

                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &:disabled {
            +.checkbox-secondary__label {
                pointer-events: none;
                cursor: default;

                &::before {
                    background-color: #BCBCBC;
                    border: 1px solid #BCBCBC;
                }

                .checkbox-secondary__text {
                    color: #BCBCBC;
                }
            }
            &:checked{
                +.checkbox-secondary__label {
                    &::before {
                        background-color: var(--blue);
                        border: 2px solid var(--blue);
                    }
                    &::after{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    &__label {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            width: 24px;
            height: 24px;
            flex: 0 0 24px;
            background-color: var(--white);
            border: 2px solid #b3bcc5;
            border-radius: 6px;
            transition: background-color $transitionSpeed $transitionFunction,
                border $transitionSpeed $transitionFunction;

                position: relative;
             top: 0;
        }

        &::after {
            content: '';
            width: 24px;
            height: 24px;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
           top: 0;
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction,
                filter $transitionSpeed $transitionFunction;
            background-image: url('../img/check-mark.svg');
            background-repeat: no-repeat;
            background-size: 12px 9px;

            background-position: center;
        }
    }

    &__text {
        margin-left: 8px;
        color: var(--gray);
        font-size: var(--default-fz);
      line-height: 1;
        font-weight: 500;
    }

    &.agent-reviews__checkbox {
        .checkbox-secondary {
            &__content {
                display: flex;
                align-items: center;

                >div {
                    margin-left: 12px;
                    display: flex;
                    align-items: center;

                    svg {
                        width: 16px;
                        height: 16px;
                        fill: var(--yellow);

                        &:not(:last-child) {
                            margin-right: 4px;
                        }

                        &._star-default {
                            fill: var(--primary100);
                        }
                    }
                }

                >span {
                    margin-left: 12px;
                    color: var(--gray);
                    font-size: var(--default-fz);
    line-height: var(--default-lh);
                    font-weight: 400;

                    @media (max-width:$mobile-max) {
                        margin-left: auto;
                    }
                }

                @media (max-width:$mobile-max) {
                    width: 100%;
                }
            }
        }

        @media (max-width:$mobile-max) {
            width: 100%;
        }
    }
    &._start{
        .checkbox-secondary__label{
            justify-content: start;
        }
    }
}
