.toggle-checkbox {
    display: inline-flex;
    cursor: pointer;
    >input {
        opacity: 0;
        position: absolute;

        &+div {
            flex: 0 0 45px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            user-select: none;
            transition: .4s ease;
            height: 25px;
            width: 45px;
            background-color: #a7a8a9;
            border: 1px solid #e4e4e4;
            border-radius: 60px;

            &:before {
                content: "";
                position: absolute;
                display: block;
                transition: .2s cubic-bezier(.24, 0, .5, 1);
                height: 25px;
                width: 46px;
                top: 0;
                left: 0;
                border-radius: 30px;
            }

            &:after {
                content: "";
                position: absolute;
                display: block;
                box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, .04), 0 4px 9px hsla(0, 0%, 0%, .13), 0 3px 3px hsla(0, 0%, 0%, .05);
                transition: .35s cubic-bezier(.54, 1.60, .5, 1);
                background: whitesmoke;
                height: 23px;
                width: 23px;
                top: 0;
                left: 0;
                border-radius: 50%;
            }
        }

        &:checked {
            &+div:before {
                background: var(--blue);
                transition: width .2s cubic-bezier(0, 0, 0, .1);
            }

            &+div:after {
                left: calc(49px - 25px);
            }
        }
    }
    >span{
        margin-top: 3px;
        margin-left: 12px;
        font-size: var(--default-fz);
        line-height: var(--default-lh);
    font-weight: 500;
    }
}
