// main
$fontFamily: "CoFoSans";
$fontSize: 14;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1180;
$containerOffset: 16;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #fff;
$mainColor: #3D3D3D;

// break points
$desktop: $containerWidth+px;
$desktop-min: ($containerWidth + 1)+px;
$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;


// others vars
$transitionSpeed: 0.32s;
$transitionSpeedFast: 0.16s;
$transitionFunction: ease-in-out;

@import './mixins';
@import './fonts';