@import './$settings';

:root {
    --black: #000;
    --white: #fff;

    --primary600: #32425F;
    --primary500: #3961AA;
    --primary400: #2683F2;
    --primary300: #78B4FB;
    --primary200: #CBE3FF;
    --primary100: #EBF1FB;



    --primaryTwo: #737476;
    
    --dark: #242629;
    --red: #FF4848;
    --red-dark: #cc3333;
    --green: #24CA8E;
    --green-dark: #1fa876;
    --yellow: #FFDA16;
    --pink: #FA8080;
    --orange: #D86D00;
    --gray: #3D3D3D;

    --light-blue: #2a6be4;
    --blue: #005bff;
    --blue-dark: #065cc5;

    --bg-page: #f2f5f7;
    --stand-bg: #f2f4f6;
    --shadow-primary: 0 4px 12px 1px #24262914;

    --shadow-third: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --shadow-black-big: 0 3px 8px rgba(0, 0, 0, .24);
    --shadow-black-very-big: 0 4px 9px rgba(0, 0, 0, .3);
    --hover-primary: #f2f2f2;

    --very-small-fz: 11px;
    --small-fz: 13px;
    --default-fz: 14px;
    --little-big-fz: 19px;
    --big-small-fz: 21px;
    --big-default-fz: 24px;
    --big-fz: 24px;
    --very-big-fz: 33px;

    --very-small-lh: 1.20;
    --small-lh: 1.25;
    --little-small-lh: 1.27;
    --default-lh: 1.30;
    --little-big-lh: 1.35;
    --big-small-lh: 1.30;
    --big-default-lh: 1.30;
    --big-lh: 1.27;
    --very-big-lh: 1.27;

    @media (max-width:$desktop) {
        --shadow-secondary: 0px 0px 6px rgba(0, 0, 0, 0.05);

        --little-big-fz: 17px;
        --big-small-fz: 19px;
        --big-fz: 20px;
        --very-big-fz: 26px;
    }
}



